@import 'mixins';
@import 'layout';

$cover-font-size: 20vw;

.utopia {
    font-family: 'Utopia', sans-serif;
    font-size: $header-font-size;
    line-height: $header-height;
    
    @include respond-to('md') {
        font-size: 58px;
    }
}
  
.logo {
    white-space:nowrap;
    display:inline-block;
    
    .word {
        white-space:nowrap; 
        display:block;

        position:relative;     
        width:100%; 

        &.cover {
            color: white;
            font-size: $cover-font-size;
            line-height: $cover-font-size;

            span {
                font-size: $cover-font-size;
                line-height: $cover-font-size;
            }
        }

        .overlay { 
            position:absolute; 
            z-index: $z-index-cover + 1; 
            pointer-events:none; 

            &.overlay-u { left:-8%; color:#ffd7d7; }
            &.overlay-t { left:10%; color:#feff92; }
            &.overlay-o { left:28%; color:#92feff; }
            &.overlay-p { left:46%; color:#acffc8; }
            &.overlay-i { left:60%; color:#ecc2fb; }
            &.overlay-a { left:75%; color:#ffd598; }
        }

        .action {
            position:absolute; 
            z-index: $z-index-cover + 2; 
            display:inline-block; 
            height:100%;
            cursor: pointer;

            &.action-u { left:-1%; width:21%; }
            &.action-t { left:20%; width:15%; }
            &.action-o { left:35%; width:20%; }
            &.action-p { left:55%; width:15%; }
            &.action-i { left:70%; width:13%; }
            &.action-a { left:83%; width:17%; }
        }
    }
}