
<div class="logoText designYour " *ngIf="isHome">design your</div>

<div class="logo utopia">
  <div class="word">

      <!-- the full word -->
      U

      <!-- flairs on hover -->
      <span 
        *ngIf="flair" 
        [ngClass]="['utopia', 'overlay', 'overlay-' + flair]"> 
        {{ flair }} 
      </span>

      <!-- clickable, hoverable divs -->
      <div 
        *ngFor="let l of letters"
        [ngClass]="['utopia', 'action', 'action-' + l.letter]" 
        (click)="logoClick(l.route); flair = false;" 
        (mouseenter)="flair = l.letter;" 
        (mouseleave)="flair = false;">
    </div>
  </div>
</div>
