

.utopia {
    font-family: 'Utopia', sans-serif;
    font-size: 58px;
}
  
.logo {
    white-space:nowrap;
    display:inline-block;
}

// .logo .word { position:relative; white-space:nowrap; width:100%; display:block; }
// .logo .word .overlay { position:absolute; z-index:2; pointer-events:none; }
// .logo .word .overlay-u { left:-6%; color:#ffd7d7; }
// .logo .word .overlay-t { left:11%; color:#feff92; }
// .logo .word .overlay-o { left:29%; color:#92feff; }
// .logo .word .overlay-p { left:46%; color:#acffc8; }
// .logo .word .overlay-i { left:60%; color:#ecc2fb; }
// .logo .word .overlay-a { left:73%; color:#ffd598; }

// .logo .word .action {
//     position:absolute; z-index:5; display:inline-block; height:100%;
// }

// .logo .word .action-u { left:-1%; width:21%; }
// .logo .word .action-t { left:20%; width:15%; }
// .logo .word .action-o { left:35%; width:20%; }
// .logo .word .action-p { left:55%; width:15%; }
// .logo .word .action-i { left:70%; width:13%; }
// .logo .word .action-a { left:83%; width:17%; }