
<div class="logo utopia">
  <div class="word" [ngClass]="{'cover': !static}">

      <!-- the full word -->
      U

      <!-- flairs on current location -->
      <span 
        @showHideAnimation
        *ngIf="current" 
        [ngClass]="['utopia', 'overlay', 'overlay-' + current]"> 
        {{ current }} 
      </span>

      <!-- flairs on hover -->
      <span 
        @showHideAnimation
        *ngIf="flair && !static" 
        [ngClass]="['utopia', 'overlay', 'overlay-' + flair]"> 
        {{ flair }} 
      </span>

      <!-- clickable, hoverable divs -->
      <div 
        *ngFor="let l of letters"
        [ngClass]="['utopia', 'action', 'action-' + l.letter]" 
        (click)="logoClick(l.route);" 
        (mouseenter)="flair = l.letter; emitLabel(l.label);" 
        (mouseleave)="flair = false; emitLabel();">
    </div>
  </div>
</div>
