@import 'layout';

.header {
    position: fixed;
    z-index: $z-index-header-bar;
    height: $header-height;
    width: 100%;
    background: white;
    text-align: center;   
    
    div {
        cursor: pointer;
    }

    img {
        position: absolute;
        left: 15px;
        height: 3rem;
        width: 3rem;
        top: 1rem;
        
        &:active {
            filter: blur(1px);
        }
    }
}

.margin {
    height: $header-height + 1rem;
}
