@import 'layout';

.header {
    position: fixed;
    z-index: $z-index-header-bar;
    height: $header-height;
    width: 100%;
    background: white;
    border-bottom: 2px solid #333;
    text-align: center;   
    
    div {
        cursor: pointer;
    }

    img {
        position: absolute;
        left: 0;
        height: $header-height;
        width: $header-height;
    }
}

.margin {
    height: $header-height + 1rem;
}
