
<div class="contact">
	<h1 class="">transcultural art lab </h1>
	<h2> concept and project leadership</h2>
	<p>Andrea Martens & Fanny Rieber</p>
	<h2> Jugendbildungsstätte Theodor Wuppermann e.V. Juist</h2>
	<p class="padB3">
		Flugplatzstr. 31 / 26571 Juist<br/>
		Tel. +49 (0)4935 92 106 21<br/>
		www.jubi-juist.de
	</p>
	<h2>sponsered by</h2>
	<div class="contact-logo">
		<img src="assets/logos/partners.png">
	</div>
	<div class="clear"></div>
	<div class="contact-heading">
		<h2> participating persons & organizations</h2>
	</div>
	<h3>head of the project</h3>
	<p>
		Andrea Martens / www.andreamartens.de<br/>
		Fanny Rieber / www.fannyrieber.de
	</p>
	<h3>project coordinator</h3>
	<p class="padB3">
		Sigita Urdze / coordination.designyourutopia@jubi-juist.de
	</p>

	<div class="contact-heading">
		<h2>2017</h2>
	</div>
	<h3 class="padB2">partner organizations</h3>
	<h4>armenia</h4>
	<p>
		Youth Events Holding Center<br/>
		Tsarav Axbuyr 55/5, 0052 Yerevan, Armenia<br/>
		<a href="http://europa.eu/youth/volunteering/organisation/941554266_en">www.europa.eu →</a>
		<br/>
		companion: Harut Dashtoyan / dashtoyan.h@gmail.com
	</p>
	<h4>azerbaijan</h4>
	<p >
		Common Sense Youth Organization,<br/>
		12 mic/dist, Koroghlu street 27a. AZ5011, Sumgait, Azerbaijan<br/>
		Tel.: (+994) 558 237 290<br/>
		<a href="http://www.csyo-az.org">www.csyo-az.org →</a><br/>
		companion: Nijat Kudiev /
	</p>
	<h4>georgia</h4>
	<p>
		FRONTLINE CLUB Georgia<br/>
		62 Lado Asatiani str. Tbilisi, Georgia<br/>
		Tel.: (+995) 322 99 59 52<br/>
		<a href="http://www.frontlinegeorgia.ge">www.frontlinegeorgia.ge →</a><br/>
		companion: Jemali Sukhashvili / thommkin@gmail.com
	</p>
	<hr>
	<h4>artists & workshop tutors</h4>
	<p>
		editorial design<br/>
		George Hutton / geohutton@gmail.com
	</p>
	<p>
		installation art<br/>
		Johannes M. D. N. R Klever / www.johannesklever.com
	</p>
	<p>
		music<br/>
		Oliver Pauls / oliverpauls@gmx.de
	</p>
	<p>
		performance<br/>
		Lindsey Drury / linzdrury@gmail.com
	</p>
	<p>
		photography<br/>
		Johanna Landscheidt / www.johanna-landscheidt.de
	</p>
	<p>
		video art<br/>
		Miriam Yammad / www.miriamyammad.com
	</p>
	<hr>
	<h4>activities & other</h4>
	<p>
		mediation<br/>
		Lyn Driller / driller.lynn@googlemail.com
	</p>
	<p>
		utopia advisor & political referent<br/>
		Sebastian Haug / sh805@cam.ac.uk
	</p>
	<p>
		yoga instructor<br/>
		Fanny Rieber / www.fannyrieber.de
	</p>
	<p>
		bouldering trainer<br/>
		Manuel Erzgräber / manuel.erzgraeber@gmail.com
	</p>
	<p>
		archery trainer<br/>
		Hans Gert Bültmann / hg.bueltmann@googlemail.com
	</p>
	<p>
		kayak expert<br/>
		Thomas Schlotter / tschlotter@web.de
	</p>
	<p class="padB3">
		camera<br/>
		Nico Mews / nico_mews@hotmail.de
	</p>


	<div class="contact-heading">
		<h2>2016</h2>
	</div>
	<h3 class="padB2">partner organizations</h3>
	<h4>armenia</h4>
	<p>
		Youth Events Holding Center<br/>
		Tsarav Axbuyr 55/5, 0052 Yerevan, Armenia<br/>
		<a href="http://europa.eu/youth/volunteering/organisation/941554266_en">europa.eu →</a><br/>
		<b>companion:</b> Harut Dashtoyan / dashtoyan.h@gmail.com
	</p>
	<h4>azerbaijan</h4>
	<p>
		SYOU Azerbaidschan<br/>
		28 May str. 9/13 Baku, Azerbaijan<br/>
		Tel. (+99412) 493-96-24<br/>
		<a href="http://www.atgti.az">www.atgti.az →</a><br/>
		<b>companion:</b> Mahbara Abbasova / mehbara.abbasova@gmail.com
	</p>
	<h4>georgia</h4>
	<p>
		L.T.D. ARTAREA TV<br/>
		10 Dodo Abashidze st. Tbilisi, Georgia<br/>
		Tel.: (+995) 599 91 05 06<br/>
		<a href="http://www.artarea.tv">www.artarea.tv →</a><br/>
		<b>companion:</b> Nestan Abdushelishvili / nestan.abd@gmail.com
	</p>
	<hr>

	<h3>artists & workshop tutors</h3>
	<p>
		editorial design<br/>
		George Hutton / www.instagram.com/alephony
	</p>
	<p>
		installation art<br/>
		Sven Werner / sven@outlandproductions.eu

	</p>
	<p>
		music<br/>
		Oliver Pauls / oliverpauls@gmx.de
	</p>
	<p>
		painting/ drawing<br/>
		Maika Saworski / www.maikasaworski.de
	</p>
	<p>
		photography<br/>
		Andrea Martens / www.andreamartens.de
		& Johanna Landscheidt / www.johanna-landscheidt.de
	</p>
	<hr>
	<h3>activities & other</h3>

	<p>
		mediation<br/>
		Lyn Driller / driller.lynn@googlemail.com
	</p>

	<p>
		archery trainer<br/>
		Hans Gert Bültmann / hg.bueltmann@googlemail.com
	</p>

	<p>
		kayak expert<br/>
		Thomas Schlotter / tschlotter@web.de
	</p>

	<p>
		political simulation<br/>
		Iris Reklau / iris.rehklau@ssc-europe.eu
	</p>

	<p>
		utopia advisor & bouldering<br/>
		Manuel Erzgräber / manuel.erzgraeber@gmail.com
	</p>

	<p>
		Intern<br/>
		Theresa Schwenk / theresa.schwenk@googlemail.com
	</p>

	<hr>
	<h3>
		© 2018 TRANSCULTURAL ART LAB
	</h3>
	<p>
		All content (artwork, images, characters, animation, text and any other material) on this website is subject to the copyright of TRANSCULTURAL ART LAB, or the respective artist. Therefore the content of the website can not be modified, copied, reproduced downloaded, transferred, published, distributed, and used in any way without our written consent.
	</p>
	<p>
		Alle Bilder, Arbeiten und Texte dieser Website unterliegen dem Urheberrecht. Die Veröffentlichung, Bearbeitung, Verbreitung und Verwertung jeder Art von Informationen oder Daten, insbesondere die Verwendung von Bildmaterial oder Texten bedarf der vorherigen Zustimmung.
	</p>

	<!-- <div class="footer" ng-include="'includes/footer.html'"></div> -->
</div>
