@import 'layout';

.contact {
    @extend %page;

    .lead {
        color: #8252b5;
    }

    // why is this p special?? 
    p { 
        margin: 0 0 2rem 0;
        font-size:1.3rem;
        line-height:2.2rem;
        letter-spacing: 0.013rem;
        text-align: left;
    }

    h2, h4 {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }

    .contact-heading {
        h2 {
            padding: 0.4rem 0 0.4rem  0;
            margin-top: 1rem;
        }
    }

    .contact-logo img {
        margin: 1.2rem 0rem 0rem;
        width: 100%;
    }

}