
<div class="contact">

	<div class="header-image">
		<img src="assets/imgs/workshops/2018/tal-w18-23.jpg">
	</div>

	<h2 class="lead">transcultural art lab </h2>

	<section>
		<div class="contact-heading">
			<h2> concept and project leadership</h2>
			<p>Andrea Martens & Fanny Rieber</p>
		</div>

		<h2>hosted by</h2>
		
		<p>
			Jugendbildungsstätte Theodor Wuppermann e.V. Juist<br/>
			Flugplatzstr. 31 / 26571 Juist<br/>
			Tel. +49 (0)4935 92 106 21<br/>
			www.jubi-juist.de
		</p>	
				
		<h2>sponsered by</h2>
		<div class="contact-logo">
			<img src="assets/imgs/contact/partners.jpg">
		</div>

	</section>

	<section>
		<div class="contact-heading">
			<h2>partner organizations</h2>
		</div>

		<h4>armenia</h4>
		<p>
			Youth Events Holding Center<br/>
			Tsarav Axbuyr 55/5, 0052 Yerevan, Armenia<br/>
			<a href="https://europa.eu/youth/volunteering/organisation/58001617440_en">www.europa.eu →</a>
		</p>

		<h4>azerbaijan</h4>
		<p>
			Common Sense Youth Organization,<br/>
			12 mic/dist, Koroghlu street 27a. AZ5011, Sumgait, Azerbaijan<br/>
			Tel.: (+994) 558 237 290<br/>
			<a href="http://www.csyo-az.org">www.csyo-az.org →</a><br/>
			companion: Nijat Kudiev /
		</p>

		<h4>georgia</h4>

		<p>
			L.T.D. ARTAREA TV<br/>
			10 Dodo Abashidze st. Tbilisi, Georgia<br/>
			Tel.: (+995) 599 91 05 06<br/>
			<a href="www.artarea.tv">www.artarea.tv →</a><br/>
			companion: Nestan Abdushelishvili / nestan.abd@gmail.com 
		</p>

		<p>
			FRONTLINE CLUB Georgia<br/>
			62 Lado Asatiani str. Tbilisi, Georgia<br/>
			Tel.: (+995) 322 99 59 52<br/>
			<a href="http://www.frontlinegeorgia.ge">www.frontlinegeorgia.ge →</a><br/>
		</p>

	</section>



	<section>

		<h4>participating persons and organizations</h4>

		<p>
			head of project <br/>
			Andrea Martens / www.andreamartens.de <br/>
			Fanny Rieber / www.fannyrieber.de
		</p>

		<p>
			project coordinator <br/>
			Sigita Urdze / coordination.designyourutopia@jubi-juist.de <br/>
		</p>

	</section>

	<section>

		<h4>artists & workshop tutors</h4>
		<p>
			illustration<br/>
			George Hutton / geohutton@gmail.com
		</p>
		<p>
			installation art<br/>
			Johannes M. D. N. R Klever / www.johannesklever.com<br/>
			Sven Werner / www.outlandproductions.eu
		</p>
		<p>
			music<br/>
			Oliver Pauls / oliverpauls@gmx.de<br/>
			Jonas Muller / www.jonasmuller.com
		</p>
		<p>
			performance art<br/>
			Jasmin Schaitl / www.jasminschaitl.com<br/>
			Lindsey Drury / linzdrury@gmail.com
		</p>
		<p>
			photography<br/>
			Johanna Landscheidt / www.johanna-landscheidt.de<br/>
			Andrea Martens / www.andreamartens.de
		</p>
		<p>
			video art<br/>
			Andrés Arizmendy Benavides / https://vimeo.com/arizmendy00<br/>
			Miriam Yammad / www.miriamyammad.com
		</p>
		<p>
			contemporary dance<br/>
			Rainey White/ raineywhitedance@gmail.com
		</p>
		<p>
			experimental documentary<br/>
			Ross Little
		</p>
		<p>
			painting/ drawing<br/>
			Maika Saworski / www.maikasaworski.de
		</p>
	
	</section>

	<section>
			
		<h4>activities & other</h4>
		<p>
			mediation<br/>
			Lyn Driller / driller.lynn@googlemail.com
		</p>
		<p>
			political referent<br/>
			Sebastian Haug / sh805@cam.ac.uk<br/>
			Iris Reklau / iris.rehklau@ssc-europe.eu
		</p>
		<p>
			yoga instructor<br/>
			Fanny Rieber / www.fannyrieber.de
		</p>
		<p>
			bouldering trainer<br/>
			Manuel Erzgräber / manuel.erzgraeber@gmail.com
		</p>
		<p>
			archery trainer<br/>
			Hans Gert Bültmann / hg.bueltmann@googlemail.com
		</p>
		<p>
			kayak expert<br/>
			Thomas Schlotter / tschlotter@web.de
		</p>
		<p>
			cinematography<br/>
			Nico Mews / nico_mews@hotmail.de
		</p>

		<p class="padB6">
			Intern<br/>
			Theresa Schwenk / theresa.schwenk@googlemail.com
		</p>

	</section>

	<app-footer></app-footer>
</div>
