
<div class="idea">

	<iframe src="https://player.vimeo.com/video/244686221?title=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

	<h1>transcultural art lab</h1>
	<h2>what we do</h2>
	<p>
		The TRANSCULTURAL ART LAB (TAL) is a collaborative residency program for cultural professionals from the South Caucasus and Germany.

	</p>
	<p>
		Each year 50 creatives from Armenia, Azerbaijan, Georgia, and Germany as well as from the regions of Abkhazia and South Ossetia embark on a two-weeks joint venture on the remote island of Juist, North Sea. Core of the encounter is a shared artistic investigation of ‘utopia’– the unreachable good place – used as a framework for transcultural dialogue and divergent thinking upon possible futures. 
	</p>
	<p>
		TAL is designed as an inclusive space where creators from different backgrounds – irrespective of their educational, cultural or socio-economic contexts – are allowed to ask probing questions and critically engage with their realities and dreams. It seeks to be a space where one can take the lead in artistic collaborations that redefine how relationships are shaped by political conflicts, war, and cultural differences. 

	</p>
	<p>
		From 2016 to 2019, TAL brought a total of 213 creatives from six countries to the island of Juist and was continued intra-regionally in subsequent collaborations. Many of the participating artists had never met a single person from neighbouring countries before. By fostering creativity as a transformative force, TAL promotes a dynamic network of creative minds across the South Caucasus and Europe. The works of art created here have since been exhibited in Berlin, Tbilisi, Yerevan and Baku.
	</p>
	<p class="quote">
		“As an Armenian, I was totally astonished to find out that some of our so called “enemies” became a family to me. We lived in the mood of total trust and acceptance. I truly consider TAL a revolutionary project in my own life, it was the real Utopia, one can only dream to go back.”
	</p>
	<p class="quote-author">
		TAL participant 2018
	</p>

	<h2>how we do it</h2>
	<p>
		TAL manifests as a forum for artistic and social practice in two significant ways:
	</p>

	<ul>
		<li>
			As a two-week journey through questions about possible futures. Together, participants develop collaborative projects, create self-organized learning, and conduct open discussions on topics ranging widely from the personal to the political. 
		</li>
		<li>
			As an open platform based on the empowerment of young cultural actors. Overcoming both the physical and invisible barriers for cultural collaboration in post-conflict societies, these encounters have since snowballed. TAL’s annual networking meetings have been a catalyst for numerous follow-up collaborations. 
		</li>
	</ul>

	<p class="quote">
		“This place and this project are like real little utopias. Things start changing and I feel this change inside myself. From the very first day, things here have felt like the realisation of dreams I have had for a long time.”
	</p>
	<p class="quote-author">
		TAL participant 2017
	</p>

	<img class="logo" src="assets/logos/tal-logo.jpg"/>

	<h2>why utopia?</h2>
	<p>
		Using utopia as a tool, TAL tackles the complexity of the term by poking into its multiple sociological dimensions. In everyday discourse, utopia is often understood as blueprint for an ideal future, with what seems impossible within the confines of reality. Thus, it bounds to create margins for many and often contradictory interpretations. Instead of lacking a concrete masterplan of an ideal world, TAL mirrors utopia as a provisional, reflexive and dialogical method in order to explore multiple alternatives. It opens up space for thoughts, without being blocked by what we now call reality.
	</p>

	<h2 class="video-header">
	TRANSCULTURAL VIDEO & PERFORMANCE LAB 2018 (8min)
	</h2>

	<iframe src="https://player.vimeo.com/video/328629121?title=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

	<h2>how we seek greater impact</h2>
	<p>
		Exploring common identities beyond historically contingent divisions, TAL aims to overcome long-term geographical and political obstacles, as well as the social disadvantage of marginalized groups. In close cooperation with the partners, TAL promotes direct exchange and confidence building through values ​​of trust-building and people-to-people contact.
	</p>
	<p>
		On the civil society level, TAL, actively promotes mobility in the sense of intercultural understanding and multilingualism. With a strong focus on follow-up cooperation within the uprising network, TAL encourages young people to creatively engage with their societies. Numerous subsequent collaborations between former participants show how positively the residency impacts on the sustainable development and consolidation of international networks.
	</p>

	<p class="quote">
		“On Juist, we have come to understand each other as humans, and to not look at each other thinking ‘my grandfather killed your grandfather during the war’. It is us, the young generation, who can change things in our societies. That’s why I like TAL. Because here we show each other a different world.”

	</p>
	<p class="quote-author">
		TAL participant 2016
	</p>

	<h2>who supports us</h2>
	<p>
		Founded by Fanny Rieber and Andrea Martens, TAL is further organised by a group of international artists and hosted by the Youth Education Center Th. Wuppermann e.V on the German island of Juist. The first edition in 2016 was funded by the German Federal Foreign Office and the Ministry of Social Affairs - Lower Saxony. The following years 2017 & 2018 TAL were additionally supported by the European Union Erasmus+ programme.
	</p>

	<h2 class="video-header">
	„TRANSCULTURAL ART LAB 2017 (11min)“
	</h2>

	<iframe src="https://player.vimeo.com/video/262172747?title=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
	
	<img class="logo" src="assets/imgs/idea/banner.jpg"/>

    <app-footer></app-footer>

</div>

