
<div class="idea">

	<h1>transcultural art lab</h1>
	<h2>what we do</h2>
	<p>
		The TRANSCULTURAL ART LAB (TAL) is a collaborative residency program that brings together young artists from the South Caucasus and Germany on the German island of Juist.
	</p>
	<p>
		TAL seeks to be a space where one can take the lead in artistic collaborations that redefine how relationships are shaped by political conflicts, war, and cultural differences. Since 2016 each year 50 creatives, have been invited from Armenia, Azerbaijan, Georgia, and Germany as well as from the regions of Abkhazia and South Ossetia to investigate the idea of ‘utopia’ – the unreachable good place - during a two-week residency. The works of art created here have been on display at public exhibitions in Berlin, Tbilisi, Yerevan and Baku.
	</p>
	<p>
		To date, TAL has brought together 180 creators from a great variety of origins, many of whom had never even met a single person from their neighbouring country before. These encounters have been a catalyst for many newexchanges and there are numerous follow-up collaborations currently active.

	</p>
	<p class="quote">
		“This place and this project are like real little utopias. Things start changing and I feel this change inside myself. From the very first day, things here have felt like the realisation of dreams I have had for a long time.”
	</p>
	<p class="quote-author">
		TAL participant 2017
	</p>

	<iframe src="https://player.vimeo.com/video/244686221?title=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

	<h2>how we do it</h2>
	<p>
		TAL manifests as a forum for artistic and social practice in two significant ways:
	</p>

	<ul>
		<li>
			As a two-week journey through questions about possible futures. Participants together develop collaborative projects, create self-organized learning, and conduct open discussions of topics ranging widely from the personal to the political.
		</li>
		<li>
			As an inclusive space where young artists from different backgrounds – irrespective of their educational, cultural or socio-economic contexts – are given space, resources and time to breathe, reflect on, and reconsider the dreams and realities that shape their daily lives.
		</li>
	</ul>

	<p class="quote">
		“As an Armenian, I was totally astonished to find out that some of our so called “enemies” became a family to me. We lived in the mood of total trust and acceptance. I truly consider TAL a revolutionary project in my own life, it was the real Utopia, one can only dream to go back.”
	</p>
	<p class="quote-author">
		TAL participant 2018
	</p>

	<img class="logo" src="assets/logos/tal-logo.jpg"/>

	<h2>why utopia?</h2>
	<p>
		Using ‘utopia’ as a tool, TAL tackles the complexity of the term by poking into its multiple significations and dimensions. In everyday discourse, ‘utopia’ is usually connected with an ideal future, with what seems impossible within the confines of reality, and is thus bound to create margins for many and often contradictory interpretations. We rehabilitate utopia as a repressed dimension of the sociological perspective. Through the process of artistic collaboration, the imagined reconstitution of society and a provisional, reflexive and dialogical method for exploring alternative possible futures can be both, experienced and conceived.
	</p>

	<h2>
	TRANSCULTURAL VIDEO & PERFORMANCE LAB 2018 (8min)
	</h2>

	<iframe src="https://player.vimeo.com/video/328629121?title=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

	<h2>how we seek greater impact</h2>
	<p>
		The TAL contributes to the development of a dynamic network across the South Caucasus and Europe through TAL participants who continue to facilitate structures of mutual support. Over the long run, the TAL encourages young people to creatively engage with their societies - and explore the meaning of shared identities beyond historically contingent divisions and borders.
	</p>
	<p>
		In close cooperation with the partners, as well as all involved civil society actors, TAL promotes direct exchange and confidence building in the long term through values ​​of trust-building and people-to-people contact as well as ideas of equal opportunity and inclusion. On the civil society level, TAL, actively promotes mobility in the sense of intercultural understanding and multilingualism, with the aim of overcoming long-term geographical and political obstacles and the social disadvantage of marginalized groups. The subsequent effects of our project already show how positively the residency impacts on the sustainable development and consolidation of international networks.
	</p>

	<p class="quote">
		“On Juist, we have come to understand each other as humans, and to not look at each other thinking ‘my grandfather killed your grandfather during the war’. It is us, the young generation, who can change things in our societies. That’s why I like TAL. Because here we show each other a different world.”

	</p>
	<p class="quote-author">
		TAL participant 2016
	</p>

	<h2>who supports us</h2>
	<p>
		Founded by Fanny Rieber and Andrea Martens, TAL is further organised by a group of international artists and hosted by the Youth Education Center Th. Wuppermann e.V on the German island of Juist. 
		The first edition in 2016 was funded by the German Federal Foreign Office and the Ministry of Social Affairs - Lower Saxony. The following years 2017 & 2018 TAL was additionally supported by the European Union Erasmus+ programme.
	</p>

	<iframe src="https://player.vimeo.com/video/262172747?title=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
	
	<img class="logo" src="assets/imgs/idea/banner.jpg"/>

    <app-footer></app-footer>

</div>

