@import 'layout';

.idea {
    @extend %page;

    .video-header {
        margin: 2rem 0rem 1rem 0rem;
    }

    ul {
        padding-left: 2rem;
        margin-bottom: 2rem;

        li{
            margin-bottom:2rem;
            font-size:1.2rem;
            letter-spacing: 0.1rem;
            text-align: justify;
        }
    }

    .logo {
        object-fit: contain;
        height: 150px;
        
        @include respond-to('md') {
            margin-top: -1rem;
        }
    }
}