
<div class="show">

    <app-sc-widget
        class=" marB4"
        imageSrc="assets/imgs/shows/2016/listen.jpg"
        trackId="297130844">        
    </app-sc-widget>

	<app-tabs branch="show"></app-tabs>

	<div class="full-text">
		<h1>the show</h1>
		<p>
			After 12 days of collaboration in the respective workshops, the artistic outcome is presented within a group show. The 	island-public is invited to see the show during a 4 hour open doors. There are different displays and live performances. 	Exhibition sights vary from indoor to sea-side.
			The different art pieces are joint projects, each created by a group of people. The interventions are all statements or hypotheses dealing with different topics of the theme "design your Utopia".
		</p>
	</div>

	<div>
		<img src="assets/imgs/shows/2016/green.jpg">
		<img class="w40" src="assets/imgs/shows/2016/three.jpg"><br>
		<img class="w40" src="assets/imgs/shows/2016/gap.jpg">
		<div class="clear"></div>
		<img class="w50 padL1 floatR" src="assets/imgs/shows/2016/video.jpg">
		<div class="clear"></div>
		<img src="assets/imgs/shows/2016/seat.jpg">
		<img class="padB3" src="assets/imgs/shows/2016/stretch.jpg">
		<div class="w40 floatR padB3"><img src="assets/imgs/shows/2016/box.jpg"></div>
		<img class="padB6" src="assets/imgs/shows/2016/river.jpg">
		<img class="w50 padR1" src="assets/imgs/shows/2016/text.jpg">
		<img src="assets/imgs/shows/2016/zugzwang.jpg">
	</div>
	<div class="poem">
		Utopianist Diary<br>
		29 Haus Foke - 1st direction from the east beach<br><br>
		Pushing on the Red Button....<br>
		1000 miles away LIGHT is coming over the ocean...<br>
		Spiral Moving - Without borders.... Feeling free?.... IMAGINATION of the World - Wholeness as a part of blurred <br>
		images.... Colors of the RAINBOW are not the same any more....<br><br>
		26 Haus Muckel - 2nd direction nearby to the Nowhere NOTHING has born from the farthest HORIZON... Behind the <br>
		FANTASY there is a black square - inside it - There was a KEY for dreams....<br>
		Diving into the gray waves<br>
		Desires became wet anyway...<br>
	</div>
	<div>
		<div class=" w50 floatR"><img src="assets/imgs/shows/2016/room.jpg"></div>
		<img src="assets/imgs/shows/2016/stool.jpg">
		<img src="assets/imgs/shows/2016/story.jpg">
	</div>
	<div class="poem">
		33 Haus Endelmann - (X)th direction Hause of the Died Birds<br><br>
		Children ! - Follow the path of past<br>
		Play the Game of MEMORIES.... <br>
		....With the wings and without rules....<br>
		Feeling cold inside through? - <br>
		Died birds has  own over the sky....<br>
		And started singing a Lullaby .....
	</div>
	<div>
		<img class="w60 floatR" src="assets/imgs/shows/2016/project.jpg">
		<img src="assets/imgs/shows/2016/red.JPG">
		<img class="w50" src="assets/imgs/shows/2016/talk.jpg">
		<div class="clear"></div>
		<img class="w50 padL1 floatR" src="assets/imgs/shows/2016/wheel.jpg">
		<div class="clear"></div>
		<img class="w75 floatR" src="assets/imgs/shows/2016/dome.JPG">
		<div class="clear"></div>
		<img class="w50" src="assets/imgs/shows/2016/mutter_1.jpg">
		<div class="clear"></div>
		<img class="w50 padL1 floatR" src="assets/imgs/shows/2016/mutter_2.jpg">
		<div class="clear"></div>
	</div>
	<div class="poem">
		Winkelschifchen -((Y))th direction to the Room of Thoughts Confusion of the mind....<br>
		Intuition of touching ARTIFICIAL !<br>
		Fragile GLASS as a transformed surface -> Re ected cracks of PARIDISE...<br><br>
		D&uuml;nenstra&szlig;e - Timeless Day - There was No Way<br>
		AS A RESULT OF IMAGINATION : Starting breath - fast and deep... From the fear of STRINGENCY it was a BIRTH of LOVE &<br>
		PEACE... Circular moving into the space:<br>
		Time is moving ...<br>
		From law<-->To high -<br>
		Tide is coming....
	</div>
	<div>
		<img class="w50" src="assets/imgs/shows/2016/play.jpg">
	</div>
    
    <app-sc-widget
        class=" marB4"
        imageSrc="assets/imgs/shows/2016/stand.JPG"
        trackId="297419515">        
    </app-sc-widget>

	<div class="poem">
		Frozen Shadows of 20 words -<br>
		Washed away from East to North...<br>
		Mirage of the landscape -<br>
		It is the same<-->It is another...<br>
		With "EYS WIDE SHUT" -<br>
		Real Moments became as Surreal Past!<br>
		P.S.<br>
		Every connections based on real observation, real directions and inspirations of the Juist Island...!<br>
		Every SIGNED WORDS have their own utopian owner. So the origin of these words are committed from utopian vocabulary <br>
		and represented as the clues of a big idea - --> "Design your Utopia !"<br>
	</div>

    <app-footer></app-footer>
</div>
