@import 'layout';

.show {
    @extend %page;

    .poem {
        padding-top: 1rem;
        padding-bottom: 6rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.1rem;
        text-align:center;
        font-style: italic;
        color: black;
    }
}