<div class="workshops">

	<div class="header-image">
		<img src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-19.jpg">
	</div>
        
	<app-tabs branch="workshops"></app-tabs>
    
	<div class="padB6">
		<h1>the workshops in 2017</h1>
		<p>
            Art Workshops lie at the heart of the TRANSCULTURAL ART LAB and focus on six fields of artistic exploration:

            <a routerLink="/workshops/2017" fragment="video-art">Video ↓</a>,
            <a routerLink="/workshops/2017" fragment="music">Music ↓</a>,
            <a routerLink="/workshops/2017" fragment="editorial-design">Editorial Design ↓</a>,
            <a routerLink="/workshops/2017" fragment="performance-art">Performance ↓</a>,
            <a routerLink="/workshops/2017" fragment="photography">Photography ↓</a>,
            <a routerLink="/workshops/2017" fragment="installation-art">Installation ↓</a>.

            Each workshop is facilitated by a professional artist. Over the course of two weeks, these workshop groups then meet to explore ‘utopia’ through shape, sound and movement. Together, TAL participants engage with a diversity of languages and positions, and gain practical and theoretical knowledge. Workshops are participants’ daily point of departure for the TAL’s dynamic and open-ended process for exploring oneself and others through the diversity of artistic formats and genres.
		</p>
	</div>
	<section id="video-art">
		<div class="side-text">
			<h2>video</h2>
			<p>
				Moving images are experiences of departing and arriving. We explore moments of transition – when one setting is left behind and another one is about to open up in front of us. We are travellers. Discussions ensue that touch upon the role of body language, performative practices, as well as the power of close-ups and facial expressions. We approach these moving images – film-making, they call it – from our respective contexts and experiences. And then we join hands. Struggle. Shoot. The exploration of narratives, atmospheres and different types of sound leads to a broad range of approaches to the utopian – and dystopian – dimensions of transitional moments. Between departure and arrival.
			</p>
		</div>
		<div class="side-images">
			<img src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-21.jpg">
		</div>

		<div class ="content-images-extended">
			<img src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-22.jpg">
			<img class ="w70" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-01.jpg">
		</div>
	</section>
	<section id="music">
		<div class="side-text">
			<h2>music</h2>
			<p>
				“Music has no language, no culture”, says one of us, “we are all trying to put a little bit of ourselves into this co-creation of sound.” Ten very different human beings embark on a musical quest towards utopian lands. In a frenzy of voices, strings, keys and drums we encounter and play with our longings and aspirations. While this offers space for exploration and discovery we are also annoyed. We are annoyed with the limits we encounter; we frown upon what holds us back from realising our dreams. And it is this anger that breaks out in the form of rhythm. Together we find ourselves in timeless, sound-enchanted pockets – and they last until our instruments fall silent.
			</p>
		</div>
		<div class="side-images">
			<img class="w100" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-04.jpg">
			<img class="w75" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-11.jpg">
		</div>
		<div class ="content-images-extended">
			<img class ="w85"src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-05.jpg">
			<img class ="w55" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-10.jpg">
			<img class ="w55 padB6" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-09.jpg">
		</div>
	</section>
	<section id="editorial-design">
		<div class="side-text">
			<h2>editorial design</h2>
			<p>
				The first task is pretty simple: take a square of paper and draw something from the surrounding area. With scissors, tape and a little bit of digital magic, the drawings are turned into repeating patterns. How can we create something that will play to all of our strengths? We decide to design, print and bind a small booklet, where everybody is in charge of four pages, while being careful to make sure adjacent pages somehow 'talk' to each other. The booklet’s cover is a collaboration between everybody, starting with freestyle mark-making and finished off with a stencil and a spray can. The resulting mini-publication is a snapshot of seven young people and our distinct interpretations of what utopia can look like.
			</p>
		</div>
		<div class="side-images">
			<img class="w100" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-08.jpg">
			<img class="w80" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-07.jpg">
			<img class="w533" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-23.jpg">
		</div>
		<div class="">
			<img class="padL-20 w90 padB6" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-03.jpg">
		</div>
	</section>
	<section id="performance-art">
		<div class="side-text">
			<h2>performance</h2>
			<p>
				From the simple hand movements in tying shoelaces to the most complex theatrical performance—anything done with the body can never be exactly re-enacted. As ‘utopia’ is a deeply historical concept, we explore ‘utopia’ as a problem between perfection, repetition, and time. We also explore the value for ‘aliveness’ that exists at the heart of performance forms. Why use the human being as a medium for a work of art? We begin again and again with this simple question, starting each exercise by taking time to simply look one another in the eyes, being there for each other - at the same time - as both audience and performer. We create a plethora of written descriptions, video documentations, and a deep bond with one another.
			</p>
		</div>
		<div class="side-images">
			<img class="w100 floatR " src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-14.jpg">
			<img class="w100"src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-15.jpg">
			<img class="w100 padB6"src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-17.jpg">
		</div>
		<div class="clear"></div>
	</section>
	<section id="photography">
		<div class="side-text">
			<h2>photography</h2>
			<p>
				What does it mean to be on an island, to be utterly subjected to nature? What happens when one’s personal space has to be reconfigured in this way? And how can our photography respond to such a shift? Though we develop lines of practice and thought we had from before arriving on Juist, we together discuss and dissect each individual work. This helps form a close-knit group of us, through which we can respect and honor our diversity of backgrounds and practices. Through sharing ideas, approaches and technical knowledge, our final challenge is to produce an exhibition that may showcase our tentative explorations of Utopia. Creating an exhibition space out of any place, like a bicycle shed, allows us to not only reimagine a space, but also reencounter easily-forgotten reasons why we take photographs.
			</p>
		</div>
		<div class="side-images">
			<img src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-16.jpg">
		</div>

		<div class ="content-images-01">
			<img src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-06.jpg">
			<img class ="w70 padB6" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-13.jpg">
		</div>
		<div class ="content-images-02">
			<img class ="w55" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-02.jpg">
			<img class ="" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-25.jpg">
			<img class ="padB6" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-12.jpg">
		</div>
	</section>
	<section id="installation-art">
		<div class="side-text">
			<h2>installation</h2>
			<p>
				The Art Lab is an opportunity to produce something far removed from our usual modes of practice. The island’s surroundings captivate and intrigue us all in countless different ways, and impels us to discuss, in depth, what ‘utopia’ could possibly mean. Smaller sub-groups begin to form in order to address this question. Some of us look to the sea for our key source of inspiration, others to the sand, while others take their work to more abstract places. The challenges of working in a group are always evident, but ultimately satisfying: the installations we create are unique and fundamentally unrepeatable, due to the time, the place, and - most importantly - the people. We endeavour to leave our mark on this fleeting experience.
			</p>
		</div>
		<div class="side-images">
			<img class="w90" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-26.jpg">
			<img class="w66 padB6" src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-18.jpg">
		</div>
		<div class="">
			<img src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-24.jpg">
			<img class="w55 padB6"src="assets/imgs/workshops/2017/transcultural-art-lab-juist-design-your-utopia-workshops-20.jpg">
		</div>
	</section>
	<div class="full-text">
		<p class="quote">
			“My workshop has been hard for me because I don't know much about performance. But our time here on the island and all these people are very inspiring. The last few days have given me the gift to feel comfortable in situations where, earlier, I would have felt completely uncomfortable. For me this experience has been transformative. And I will never forget it.”
		</p>
		<p class="quote-author">
			TAL participant 2017
		</p>
	</div>
	<div class="full-text">
		<p class="quote">
		“After working together for ten days, ideas are now popping up in mind, inspired by the stories of things I have already done, by the stories of things I am planning to do. And I have discovered a new medium for myself, performance. I have discovered that I can also express myself in that way. That I can tell certain things maybe better in that way, through performance, because as a performing artist you can engage with society differently. And this is particularly important for the place where I come from, where society doesn’t seem ready for you, as an individual, to show yourself. For me, performance is breaking the rules of the masses, the rules of those who are judging you.”
		</p>
		<p class="quote-author">
			TAL participant 2017
		</p>
	</div>
	
    <app-footer></app-footer>
</div>
