@import 'layout';

:host {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.placeholder {
    border-right: 230px solid white;
}

.menu-box {

    position: fixed;
    margin: $header-margin 30px 0px;

    .logo {
        height: $sm-logo-height;
    }
}