@import 'layout';
@import 'mixins';

.menu {
    font-size: 1.2rem;
    letter-spacing: 1px;

    .menu-box {        
        
        margin: 2rem;

        @include respond-to('md') { 
            margin: $header-margin 3rem 0;
            position: fixed;
        }

        .logo {
            height: $sm-logo-height;
        }
    }

}