html {
    font-size: 10px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', verdana, sans-serif;
    margin: 0px;
    height: 100%;
    color: #333;
}

h1,
h2,
h3,
h4 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 1px;
    padding: 0;
    margin: 1rem 0 2rem 0;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

p {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
}

img {
    width: 100%;
}