@font-face {
    font-family: 'Utopia';
    src:
    url('assets/fonts/Utopia.ttf') format('truetype');
    // url('../resources/fonts/Utopia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//   @font-face {
//     font-family: 'Amatic SC';
//     src:
//     url('../resources/fonts/amaticsc-regular-webfont.woff') format('woff'),
//     url('../resources/fonts/amaticsc-regular-webfont.woff2') format('woff2'),
//     url('../resources/fonts/amaticsc-regular-webfont.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
//   }

  @font-face {
    font-family: 'Open Sans';
    src:
    url('assets/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Open Sans';
    src:
    url('assets/fonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Open Sans';
    src:
    url('assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  