
$header-margin: 10vh;
$sm-logo-height: 80px;

%page {    
    word-wrap: break-word;

    width: 80%;
    max-width: 600px;

    a {
        font-weight: 600;
        text-decoration: none;
        color: black;
    }

    img {
        margin-bottom: 4rem;
        width: 100%;
    }
}

%page-simple {
    @extend %page;

    margin-top: calc(#{$header-margin} + #{$sm-logo-height});
}
