@import 'mixins';

$z-index-cover: 20;
$z-index-tabs-base: 1;
$z-index-header-bar: 10;

// menu panel
$static-menu-panel-width: 228px;
$floating-menu-panel-width: 150px;

// header bar
$header-height: 5rem; 
$header-font-size: 4rem;

// logo
$sm-logo-height: 80px;

// page
$header-margin: 10vh;

// page header image
%header-image {
    height: 33vh;
    background: whitesmoke;
    margin-top: 1rem;
    margin-bottom: 4rem;

    @include respond-to('md') {
        height: 350px;
    }

    img {
        height: 100%;
        object-fit: cover;
    }
}

// basic page
%page {    

    word-wrap: break-word;
    box-sizing: border-box;

    width: 100%;    
    padding: 0 1.5rem;

    @include respond-to('md') { 
        margin-left: calc( (100vw - 500px + #{ $static-menu-panel-width }) / 2 ); // HERE HERE HERE HERE HERE HERE
        width: 500px;
        padding: 0;
    }

    @include respond-to('lg') { 
        margin-left: calc( (100vw - 600px) / 2 ); // HERE HERE HERE HERE HERE HERE
        width: 600px; 
    }

    section { padding-top: 6rem; }

    @include respond-to('md') {
        section { margin-bottom: 10rem; }
    }

    iframe { 
        height: 200px;
        margin-bottom: 2rem;
        @include respond-to('md') { height: 281px; }
        @include respond-to('lg') { height: 337px; }
    }

    .header-image {
        @extend %header-image;
    }

    .quote {
        letter-spacing: 0.1rem;
        color: #993300;
        line-height: 2rem;
        margin-bottom: 3rem;
    }

    .quote-author {
        text-align: right;
        color: #993300;
    }

    img {
        margin-bottom: 2rem;
        border-radius: 2px;
        box-sizing: border-box;
    }
}

// page with additional header margin when there is no lead image
%page-simple {
    @extend %page;

    margin-top: 0;

    @include respond-to('md') {
        margin-top: calc(#{$header-margin} + #{$sm-logo-height});
    }
}

%page-workshop {
    @extend %page;

    .side-images {
        box-sizing: border-box;

        @include respond-to('md') {
            width: 60%;
            padding: 7rem 0 0 0;
            float: left;
        }
    }

    .side-text{
        box-sizing: border-box;

        h2 {
            padding: 0 0 1.3rem 0;
        }

        @include respond-to('md') {
            width: 40%;
            padding-right: 4rem;
            margin: 0 0 8rem 0;
            float:left;
        }        
    } 
}