
$header-margin: 10vh;
$sm-logo-height: 80px;

// basic page
%page {    
    word-wrap: break-word;

    width: 80%;
    max-width: 600px;

    img {
        margin-bottom: 4rem;
    }
}

// page with additional header margin when there is no lead image
%page-simple {
    @extend %page;

    margin-top: calc(#{$header-margin} + #{$sm-logo-height});
}
