
$header-margin: 10vh;
$sm-logo-height: 80px;

// basic page
%page {    
    word-wrap: break-word;

    width: 80%;
    max-width: 600px;

    .quote {
        letter-spacing: 0.1rem;
        color: #993300;
        line-height: 2rem;
        margin-bottom: 3rem;
    }

    .quote-author {
        text-align: right;
        color: #993300;
    }

    img {
        margin-bottom: 4rem;
        border-radius: 2px;
    }
}

// page with additional header margin when there is no lead image
%page-simple {
    @extend %page;

    margin-top: calc(#{$header-margin} + #{$sm-logo-height});
}
