@import 'mixins';
@import 'variables';

%page {    

    word-wrap: break-word;

    // CONTAINER WIDTH

    width: 100%;    
    padding: 0 1.5rem;

    @include respond-to('md') { 
        margin-left: calc( (100vw - #{$container-width-md} + #{ $static-menu-panel-width } ) / 2 );
        width: $container-width-md;
        padding: 0;
    }

    @include respond-to('lg') { 
        margin-left: calc( (100vw - #{$container-width-lg} + #{ $static-menu-panel-width } ) / 2 );
        width: $container-width-lg;
    }

    @include respond-to('xl') { 
        margin-left: calc( (100vw - #{$container-width-xl}) / 2 );
        width: $container-width-xl;
    }

    // SECTIONS

    section { padding-top: 4rem; }

    @include respond-to('md') {
        section { margin-bottom: 6rem; }
    }

    // CONTENT

    img {
        margin-bottom: 2rem;
        border-radius: 2px;
    }

    iframe { 
        height: $header-image-height-xs;
        margin: $header-image-margin;
        @include respond-to('md') { height: $container-width-md * 0.57; }
        @include respond-to('lg') { height: $container-width-lg * 0.57; }
        @include respond-to('xl') { height: $container-width-xl * 0.57; }
    }

    .quote {
        letter-spacing: 0.1rem;
        color: #993300;
        line-height: 2rem;
        margin-bottom: 3rem;
    }

    .quote-author {
        text-align: right;
        color: #993300;
    }
}

// page with additional header margin when there is no lead image
%page-simple {
    @extend %page;

    margin-top: 0;

    @include respond-to('md') {
        margin-top: calc(#{$header-margin} + #{$sm-logo-height});
    }
}

%page-with-columns {
    @extend %page;

    .side-images {

        @include respond-to('md') {
            width: 60%;
            padding: 7rem 0 0 0;
            float: left;
        }
    }

    .side-text{

        h2 {
            padding: 0 0 1.3rem 0;
        }

        @include respond-to('md') {
            width: 40%;
            padding-right: 4rem;
            margin: 0 0 8rem 0;
            float:left;
        }        
    } 
}