@import 'mixins';

$z-index-cover: 20;
$z-index-tabs-base: 1;
$z-index-header-bar: 10;

// header bar
$header-height: 5rem; 
$header-font-size: 4rem;

// logo
$sm-logo-height: 80px;

// page
$header-margin: 10vh;

// page header image
%header-image {
    height: 33vh;
    background: whitesmoke;
    margin-bottom: 4rem;

    @include respond-to('md') {
        height: 350px;
    }

    img {
        height: 100%;
        object-fit: cover;
    }
}

// basic page
%page {    

    word-wrap: break-word;
    box-sizing: border-box;

    width: 100%;    
    padding: 0 1.5rem;

    @include respond-to('md') { 
        width: 500px;
        padding: 0;
    }

    @include respond-to('lg') { 
        width: 600px; 
    }

    iframe { 
        height: 200px;
        margin-bottom: 2rem;
        @include respond-to('md') { height: 281px; }
        @include respond-to('lg') { height: 337px; }
    }

    .header-image {
        @extend %header-image;
    }

    .quote {
        letter-spacing: 0.1rem;
        color: #993300;
        line-height: 2rem;
        margin-bottom: 3rem;
    }

    .quote-author {
        text-align: right;
        color: #993300;
    }

    img {
        margin-bottom: 4rem;
        border-radius: 2px;
        box-sizing: border-box;
    }
}

// page with additional header margin when there is no lead image
%page-simple {
    @extend %page;

    margin-top: 0;

    @include respond-to('md') {
        margin-top: calc(#{$header-margin} + #{$sm-logo-height});
    }
}
