@import 'mixins';
@import 'variables';

.flex {
    display: flex;
}

.header-image {
    background: whitesmoke;
    margin: $header-image-margin;

    height: $header-image-height-xs;
    @include respond-to('md') { height: $container-width-md * 0.57; }
    @include respond-to('lg') { height: $container-width-lg * 0.57; }
    @include respond-to('xl') { height: $container-width-xl * 0.57; }

    img {
        height: 100%;
        object-fit: cover;
    }
}

.hide-sm-down {
    display: none;
    @include respond-to('md') { display: inherit }
}

.hide-md-up {
    @include respond-to('md') { display: none; }
}

.center { margin:auto; }

.padL-5{ padding-left: 5%; }
.padL-10{ padding-left: 10%; }
.padL-20{ padding-left: 20%; }
.padL-30{ padding-left: 30%; }

.padR-15{ padding-right: 15%; }

.padR1 { padding-right:1rem; }
.padR4 { padding-right:4rem; }
.padR6 { padding-right:6rem; }
.padR8 { padding-right:8rem; }
.padR10 { padding-right:10rem; }

.padL1 { padding-left:1rem; }
.padL4 { padding-left:4rem; }
.padL6 { padding-left:6rem; }
.padL30 { padding-left:30rem; }

.padT5 { padding-top:5rem; }
.padT9 { padding-top:9rem; }

.padB2 { padding-bottom:2rem; }
.padB3 { padding-bottom:3rem; }
.padB5 { padding-bottom:5rem; }
.padB6 { padding-bottom:6rem; }
.padB8 { padding-bottom:8rem; }

.marB0{ margin-bottom:0rem; }
.marB4{ margin-bottom:4rem; }
.marB6{ margin-bottom:6rem; }
.marB10{ margin-bottom:10rem; }

.marT4{ margin-top:4rem; }

.floatL { float:left; }
.floatR { float:right; }
.clear { clear:both; }

.w100 { width:100%; }
.w90  { width:90%; }
.w85  { width:85%; }
.w80  { width:80%; }
.w70  { width:70%; }
.w75  { width:75%; }
.w66  { width:66.7%; }
.w60  { width:60%; }
.w55  { width:55%; }
.w50  { width:50%; }
.w48  { width:48%; }
.w533  { width:53.3%; }

/* side-image align */

.w40  { width:40%; }
.w45  { width:45%; }
.w333  { width:33.3%; }
.w35  { width:35%; }
.w30  { width:30%; }
.w20  { width:20%; }
.w15  { width:15%; }
.w4  { width:4%; }

.spacer2 { height: 2rem; }
.spacer5 { height: 5rem; }
.spacer10 { height: 10rem; }
