
$z-index-cover: 20;
$z-index-tabs-base: 1;
$z-index-header-bar: 10;

// container width
$container-width-xl: 800px;
$container-width-lg: 700px;
$container-width-md: 500px;

// menu panel
$static-menu-panel-width: 228px;
$static-menu-panel-padding: 60px;
$floating-menu-panel-width: 150px;

// header bar
$header-height: 5rem; 
$header-font-size: 4rem;

// logo
$sm-logo-height: 80px;

// page
$header-margin: 10vh;
$header-image-margin: 1rem 0rem 4rem;
$header-image-height-xs: 33vh;