.soundcloud-container {
    position: relative;

    img {
        margin: 0;
    }

    .controls {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        box-sizing: border-box;
        padding: 0 1rem 1rem;

        .button {
            cursor: pointer;
            background: #333;
            width: 3em;
            height: 3em;
            padding: 0.2em;
            border-radius: 2px;
        }

        .title {
            font-size: 1.6rem;
            font-weight: 600;
            color: white;
            margin: 0.5rem 0rem;
        }

        .progress {
            width: 100%;
            height: 0.5rem;
            border-radius: 2px;
            background-color: whitesmoke;

            .bar {
                width: 0px;
                height: 0.5rem;
                background-color: #333;
                transition: all 0s;
            }
        }
    }
}