<div class="soundcloud-container">
    
    <div class="header-image">
        <img [src]="imageSrc">
    </div>
    
    <div class="controls">

        <div class="button" (click)="toggle()">
            <img src="assets/icons/pause-play-button.svg">
        </div>

        <div class="title"> {{ title }} </div>
        <div #progress class="progress"> 
            <div #bar class="bar"></div> 
        </div>
    </div>        
    
    <iframe allow="autoplay" style="display: none;" #soundFrame [src]="trackUrl"></iframe>
</div>
