<div class="content-header"></div>
<div class="content">
	<div class="full-text marB0">
		<h1><span class="text-mobile">the idea // </span>transcultural art lab</h1>
		<h2>what we do</h2>
		<p>
			The TRANSCULTURAL ART LAB (TAL) is a collaborative residency program that brings together young artists from the South Caucasus and Germany on the German island of Juist.
		</p>
		<p>
			50 ambitious young creatives, aged between 18 and 27,  are invited from Armenia, Azerbaijan, Georgia, and Germany as well as from the regions of Abkhazia and South Ossetia to the German Island of Juist. During a two-week workshop the participants together investigate the idea of ‘utopia,’ – the unreachable good place – through cross-cultural dialogue and creative imagination.
		</p>
		<p>
			TAL seeks to be a space where young artists can take the lead in artistic collaborations that redefine how relationships are shaped by political conflicts, war, and cultural difference.
		</p>
		<p class="quote">
			“This place and this project are like real little utopias. Things start changing and I feel this change inside myself. From the very first day, things here have felt like the realisation of dreams I have had for a long time.”
		</p>
		<p class="quote-author">
			TAL participant 2017
		</p>
	</div>
	<img class="maxScale" src="resources/idea/logoT.jpg"/>
	<div class="full-text">
		<h2>how we do it</h2>
		<p>
			TAL manifests as a forum for artistic and social practice in two significant ways:
		</p>
		<ul>
			<li>
				As a two-week journey through questions about possible futures. Participants together develop collaborative projects, create self-organized learning, and conduct open discussions of topics ranging widely from the personal to the political.
			</li>
			<li>
				As an inclusive space where young artists from different backgrounds – irrespective of their educational, cultural or socio-economic contexts – are given space, resources and time to breathe, reflect on, and reconsider the dreams and realities that shape their daily lives.
			</li>
		</ul>
	</div>
	<div class="full-text">
		<h2>how we seek greater impact</h2>
		<p>
			The TAL contributes to the development of a dynamic network across the South Caucasus and Europe through TAL participants who continue to facilitate structures of mutual support. Over the long run, the TAL encourages young people to creatively engage with their societies - and explore the meaning of shared identities beyond historically contingent divisions and borders.
		</p>
	</div>
	<div class="full-text">
		<h2>who supports us</h2>
		<p>
			Organised by a group of international artists, the TAL is further hosted by the Youth Education Center Th. Wuppermann e.V on the German island of Juist. The first edition took place in October <b>2016</b> (with young artists from Armenia, Azerbaijan, Georgia and Germany) and was funded by the <b>German Federal Foreign Office</b> and the <b>Ministry of Social Affairs - Lower Saxony</b>. The second edition followed in October <b>2017</b> (with young artists from Armenia, Azerbaijan, Georgia and Germany, as well as the regions Abkhazia and South Ossetia) and was funded by the <b>German Federal Foreign Office</b>, the <b>Ministry of Social Affairs - Lower Saxony</b> and the <b>European Union Erasmus+</b> programme.
		</p>
		<p class="quote">
			“I had met a lot of artists from different backgrounds but I have never had this kind of experience before. I was very surprised to see that we are not that different from each other. For me the Art Lab is a beautiful place. A place where I can actually live and breathe.”
		</p>
		<p class="quote-author">
			TAL participant 2017
		</p>
	</div>
	<div class="footer maxScale" ng-include="'includes/footer.html'"></div>
</div>
</div>
