<div class="content-header">
	<!-- SOUNDCLOUD WIDGET -->
	<div class="soundcloud-container marB4">
		<img src="resources/show/listen.jpg">
		<div class="sounder">
			<div class="play-div">
				<button id="play-3" class="play" style="display:none;"></button>
			</div>
			<div class="sounder-title"> our utopia </div>
			<div class="sound-container">
				<div id="progress-outer-3" class="progress-outer"> <div id="progress-bar-3" class="progress-bar"></div> </div>
				<iframe id="sc-3" width="100%" height="0px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/297130844&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="tab-menu tab-menu-02">
		<a href="#show"><div class="tab-menu-left">2017</div></a>
		<div class="tab-menu-right"> 2016</div>
	</div>
	<div class="full-text">
		<h1>the show</h1>
		<p>
			After 12 days of collaboration in the respective workshops, the artistic outcome is presented within a group show. The 	island-public is invited to see the show during a 4 hour open doors. There are different displays and live performances. 	Exhibition sights vary from indoor to sea-side.
			The different art pieces are joint projects, each created by a group of people. The interventions are all statements or hypotheses dealing with different topics of the theme "design your Utopia".
		</p>
	</div>

	<div class="content-normSize">
		<img src="resources/show/green.jpg">
		<img class="w40" src="resources/show/three.jpg"></br>
		<img class="w40" src="resources/show/gap.jpg">
		<div class="clear"></div>
		<img class="w50 padL1 floatR" src="resources/show/video.jpg">
		<div class="clear"></div>
		<img src="resources/show/seat.jpg">
		<img class="padB3" src="resources/show/stretch.jpg">
		<div class="w40 floatR padB3"><img src="resources/show/box.jpg"></div>
		<img class="padB6" src="resources/show/river.jpg">
		<img class="w50 padR1" src="resources/show/text.jpg">
		<img src="resources/show/zugzwang.jpg">
	</div>
	<div class="content-normSize poem">
		Utopianist Diary<br>
		29 Haus Foke - 1st direction from the east beach<br><br>
		Pushing on the Red Button....<br>
		1000 miles away LIGHT is coming over the ocean...<br>
		Spiral Moving - Without borders.... Feeling free?.... IMAGINATION of the World - Wholeness as a part of blurred <br>
		images.... Colors of the RAINBOW are not the same any more....<br><br>
		26 Haus Muckel - 2nd direction nearby to the Nowhere NOTHING has born from the farthest HORIZON... Behind the <br>
		FANTASY there is a black square - inside it - There was a KEY for dreams....<br>
		Diving into the gray waves<br>
		Desires became wet anyway...<br>
	</div>
	<div class="content-normSize">
		<div class=" w50 floatR"><img src="resources/show/room.jpg"></div>
		<img src="resources/show/stool.jpg">
		<img src="resources/show/story.jpg">
	</div>
	<div class="content-normSize poem">
		33 Haus Endelmann - (X)th direction Hause of the Died Birds<br><br>
		Children ! - Follow the path of past<br>
		Play the Game of MEMORIES.... <br>
		....With the wings and without rules....<br>
		Feeling cold inside through? - <br>
		Died birds has  own over the sky....<br>
		And started singing a Lullaby .....
	</div>
	<div class="content-normSize">
		<img class="w60 floatR" src="resources/show/project.jpg">
		<img src="resources/show/red.JPG">
		<img class="w50" src="resources/show/talk.jpg">
		<div class="clear"></div>
		<img class="w50 padL1 floatR" src="resources/show/wheel.jpg">
		<div class="clear"></div>
		<img class="w75 floatR" src="resources/show/dome.JPG">
		<div class="clear"></div>
		<img class="w50" src="resources/show/mutter_1.jpg">
		<div class="clear"></div>
		<img class="w50 padL1 floatR" src="resources/show/mutter_2.jpg">
		<div class="clear"></div>
	</div>
	<div class="content-normSize poem">
		Winkelschifchen -((Y))th direction to the Room of Thoughts Confusion of the mind....<br>
		Intuition of touching ARTIFICIAL !<br>
		Fragile GLASS as a transformed surface -> Re ected cracks of PARIDISE...<br><br>
		D&uuml;nenstra&szlig;e - Timeless Day - There was No Way<br>
		AS A RESULT OF IMAGINATION : Starting breath - fast and deep... From the fear of STRINGENCY it was a BIRTH of LOVE &<br>
		PEACE... Circular moving into the space:<br>
		Time is moving ...<br>
		From law<-->To high -<br>
		Tide is coming....
	</div>
	<div class="content-normSize">
		<img class="w50" src="resources/show/play.jpg">
	</div>

	<!-- SOUNDCLOUD WIDGET -->
	<div class="soundcloud-container content-normSize marB4">
		<img src="resources/show/stand.JPG">
		<div class="sounder">
			<div class="play-div">
				<button id="play-4" class="play" style="display:none;"></button>
			</div>
			<div class="sounder-title"> our utopia </div>
			<div class="sound-container">
				<div id="progress-outer-4" class="progress-outer"> <div id="progress-bar-4" class="progress-bar"></div> </div>
				<iframe id="sc-4" width="100%" height="0px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/297419515&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
			</div>
		</div>
	</div>
	<div class="content-normSize poem">
		Frozen Shadows of 20 words -<br>
		Washed away from East to North...<br>
		Mirage of the landscape -<br>
		It is the same<-->It is another...<br>
		With "EYS WIDE SHUT" -<br>
		Real Moments became as Surreal Past!<br>
		P.S.<br>
		Every connections based on real observation, real directions and inspirations of the Juist Island...!<br>
		Every SIGNED WORDS have their own utopian owner. So the origin of these words are committed from utopian vocabulary <br>
		and represented as the clues of a big idea - --> "Design your Utopia !"<br>
	</div>
	<div class="footer content-normSize" ng-include="'includes/footer.html'"></div>
</div>
