
<app-header-bar 
  class="hide-md-up" 
  [currentPath]="currentPath" 
  (toggleMenu)="showFloatingMenu = !showFloatingMenu">
</app-header-bar>

<app-float-menu 
  class="hide-md-up"
  *ngIf="showFloatingMenu" 
  (closeMenu)="showFloatingMenu = false">
</app-float-menu>

<div class="main-layout">

  <div class="static-menu hide-sm-down">
    <app-menu [currentPath]="currentPath"></app-menu>
  </div>
  
  <div [@fadeInOutAnimation]="prepareRoute(outlet)" class="pages">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

</div>
