
<div class="show">

    <img src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-21.jpg">

	<app-tabs branch="show"></app-tabs>

	<div class="full-text">
		<h1>the show</h1>
		<p>
			And then: the Show. At the end of a two-week process, all TAL workshop groups present the outcome of their joint explorations in the framework of an art show. People from across the island are invited to discover the different facets of what ‘utopia’ has come to mean to TAL participants. Exhibition sites vary from warehouse to seaside. Video screenings in a dark cave, photo arrangements on brick walls, massive installations on the island’s beach – the range of work on display reflects the diversity of the collective processes. Visitors can explore these artefacts, while concerts and live performances bring everyone together. These artistic interventions reveal or echo statements, hypotheses and questions about ‘utopia’ and the (im)possibilities of perfection. The highlight and endpoint of an intense two-week process, The Show sets out to inspire initiatives and encounters well beyond the shores of the island of Juist.
		</p>
	</div>
	<div class="full-text">
		<h3>JUIST</h3>
		<p>
			To culminate the 2-week residency on Juist, the now close-knit TAL participants open their doors to the likewise close-knit Juist community. Presented as a tour of art works, installations, and performances, this event toured audiences from the beach through the various buildings of the Youth Education Center and bring Utopia to local inhabitants. This event has become a yearly to-do on Juist, and is attended by a wide network of people involved in the island’s community life: tourists, shopkeepers, mechanics, airport workers, children, teachers, community organizers, and even local politicians.
		</p>
	</div>
	<div>
		<img src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-40.jpg">
		<div class="full-text">
			<p>
				The video work <a href="https://www.youtube.com/watch?v=hKUpoD7-k-o">“Ecdysis” →</a> reflects the isolation of psychic borders in everyday life, the narrow-mindedness of thoughts, and the potential of breaking out from what torments us.
			</p>
		</div>
		<img class="w70 " src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-18.jpg">
		<img class="w70 floatR" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-12.jpg">
		<img class="w50 floatR" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-17.jpg">
		<div class="clear"></div>
		<img class="padB6" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-22.jpg">
		<img class="w50" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-23.jpg">
		<img class="w50" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-24.jpg">
		<img class="" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-30.jpg">
		<img class="" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-07.jpg">
		<div class="full-text padB6">
			<p>
				Is utopia a perfect place? In the final group presentation of the performance workshop, the performers layer monologues they gave their native languages, making a cacophony of ideas on utopia, while attempting to find a way to come together and harmonize.
			</p>
		</div>
		<img class="w80 padL-20" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-05.jpg">
		<div class="full-text padB6">
			<p>
				An oversized interactive installation on which one could swing between land and water - between utopia and reality, between the silver lining of the horizon and the attraction of gravity.
			</p>
		</div>
		<img class="padB6" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-01.jpg">
		<img class="w70" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-06.jpg">
		<img class="w70 padB6" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-14.jpg">
		<img class="w70 floatR" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-11.jpg">
		<img class="" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-03.jpg">
		<img class="w70 padR-15 floatR" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-04.jpg">
		<img class="w75 padL-30" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-16.jpg">
		<img class="w75 padL-10 padB6" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-13.jpg">
	</div>
	<div class="full-text">
		<h2>‘Take Me Somewhere Nice’: The Travelling Art Show</h2>
	</div>
	<section id="berlin">
		<div class="full-text">
			<h3>BERLIN 2nd - 5th of December 2017</h3>
			<p>
				Collaboratively mounted by participants and organizers of TAL based in Germany, this exhibition both expands the audience of the TAL project and its young artists, and connects TAL participants to the Berlin art scene. In 2017, the event was presented at GlogauAIR and curated under the title Take Me Somewhere Nice, the Berlin show also became the first stop on a traveling art show that moved from Juist, through Berlin, and into the Caucasus, where it was hosted and organized by local participants in each city.
			</p>
			<p>
				<a href="http://www.glogauair.net">GlogauAIR →</a><br/>
				Glogauerstr. 16, Berlin
			</p>
		</div>
		<div>
			<img class="w70" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-34.jpg">
			<img src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-02.jpg">
			<img class="w50 floatR padB6" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-29.jpg">
			<div class="clear"></div>
		</div>
	</section>
	<section id="tbilisi">
		<div class="full-text">
			<h3>TBILISI 15th - 18th of December 2017</h3>
			<p>
				The Gallery ARTarea in the Georgian Capital is enigmatic for the rising art scene in a city which often feels like a forgotten treasure at the threshold between Europe and Asia. The gallery is actively working on the development of contemporary art in Georgia and should be mentioned for its educational role in culture.
			</p>
			<p>
				The exhibition in ARTarea in 2017 attracted not only the TAL participants from the whole Caucasus but also local artists, international staff from cultural institutions, as well as diplomats and journalists. The event further created a base for the growing network of creatively and politically engaged people between the Caucasus and Europe, most particularly in connection with Germany.
			</p>
			<p>
				<a href="http://artarea.tv">ART AREA →</a><br/>
				10 Dodo Abashidze St, Tbilisi 0102, Georgia
			</p>
		</div>
		<div>
			<img class="w50" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-27.jpg">
			<img src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-38.jpg">
			<img class="w40 floatR padL-5" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-35.jpg">
			<img class="w35 floatR" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-28.jpg">
			<img  src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-36.jpg">
			<img class="w70" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-37.jpg">
			<img class="padB6" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-39.jpg">
			<div class="clear"></div>
		</div>
	</section>
	<section id="baku">
		<div class="full-text">
			<h3>BAKU 14th - 17th of February 2018</h3>
			<p>
				Bunker Artground Baku is an ‘unofficial’ artspace that primarily exhibits graffiti and street art in the old city center of the Azerbaijani Capital. The space holds preeminent status both within and beyond the art scene for its curation, events, and organized gatherings. The TAL show of 2017 attracted a diverse audience of all ages and social backgrounds.  During the unusual show of Take Me Somewhere Nice, discussions and irritations arose - Armenian and Azerbaijani artists working together? How can that be?
			</p>
			<p>
				Many of the young visitors to the show, by experiencing the exhibition and engaging in conversations there, became intrigued and expressed interest in taking part in a future TRANSCULTURAL ART LAB themselves.
			</p>
			<p>
				<a href="https://de-de.facebook.com/BunkerArtgroundBaku/">BUNKER ARTGROUND →</a><br/>
				Lev Tolstoy 136, Baku, Azerbaijan
			</p>
		</div>
		<div>
			<img  src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-20.jpg">
			<img class="w80 floatR" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-32.jpg">
			<img class="w80 floatR" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-33.jpg">
			<img src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-19.jpg">
			<img src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-31.jpg">
		</div>
	</section>
	<section id="yerevan">
		<div class="full-text">
			<h3>YEREVAN 1st - 3d of March 2018 </h3>
			<p>
				The Armenian Center for Contemporary Experimental Art is the biggest contemporary art space in Armenia. That being said, the contemporary art scene is very small. Run by several art enthusiasts, the space offers profound resources. Consequently, at the ACCEA’s first presentation of the TAL in 2017, the presented participant works could be shown in a museum-like framework. Participants from Georgia and Armenia worked together on the conceptual and physical set up of the show. The setting inspired some participants to reenact a collaborative performance initially developed on Juist.
			</p>
			<p>
				<a href="https://www.accea.info/en/take-me-somewhere-nice">Armenian Center for Contemporary Experimental Art →</a><br/>
				Pavstos Buzand 1/3, 0010 Yerevan, Armenia
			</p>
		</div>
		<div>
			<img src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-09.jpg">
			<img class="w80" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-10.jpg">
			<img class="w80" src="assets/imgs/shows/2017/transcultural-art-lab-juist-design-your-utopia-show-exhibition-15.jpg">
		</div>
	</section>
    
    <app-footer></app-footer>
</div>
