@import 'layout';
@import 'mixins';
@import 'placeholders';

.workshops {
    @extend %page-workshop;

    // THIS IS ONLY IN THIS PAGE - CHECK WITH AM
    @include respond-to('md') {

        .side-text {
            width: 45%;
            padding-right: 2rem;
            margin-bottom: 0rem;
        }

        .side-images {
            width: 55%;
        }
    }
    // THIS IS ONLY IN THIS PAGE - CHECK WITH AM

    .quote1 {
        p { 
            margin-bottom: 1rem;
            font-style: italic;
        }
        div { 
            text-align: right; 
            font-size: 1.2rem;
        }
        margin-bottom: 2rem;
    }

    // IMAGES

    img { position: relative; }
    
    // .grass {}

    .quartet {
        width: 50%;            
        left: 35%;
        display: block;

        @include respond-to('md') {
            margin-top: 2rem;
            width: 60%; 
            left: 10%;
        }
    }

    .coffee {
        width: 33%;
        margin-right: 1rem;
        @extend %square;

        @include respond-to('md') {
            margin-left: 20%;
            width: 20%;
            img { object-position: -2px 0px; }
        }
    }

    .face {
        width: 33%;
        @extend %square;

        @include respond-to('md') {
            width: 20%;
        }
    }

    .net {
        @include respond-to('md') {
            width: 75%;
        }
    }

    .snow {
        @include respond-to('md') {
            width: 55%;
            left: 5%;
        }
    }

    // .gorilla {}

    .cartoon {
        text-align: right;
        margin-right: 10%;
        img { width: 85%; }

        @include respond-to('md') {
            margin-right: 0;
            img { width: 100%; }
        }
    }

    .office {
        width: 35%;
        @extend %square;

        @include respond-to('md') {
            margin-top: -110px;
        }
    }

    // .pants {}
    
    .bow {
        width: 80%;

        @include respond-to('md') {
            width: 35%;
            margin: 7% 0% 7% 12%;
            display: block;
        }
    }

    .group {
        width: 30%;
        margin-right: 1rem;
        float: right;
        @extend %square;

        @include respond-to('md') {
            float: inherit;
            width: 25%;
            &:after { padding-bottom: 70%; }
        }
    }

    .judo {
        width: 30%;
        float: right;
        @extend %square;

        @include respond-to('md') {
            margin-right: 0.5rem;
            float: inherit;
            width: 25%;
            &:after { padding-bottom: 70%; }
        }
    }

    .sound {            
        @extend %widescreen;
        img { object-position: 0px -200px; }

        @include respond-to('md') {
            img {
                position: relative;
                object-position: inherit;
            }

            &:after {
                content: none;
            }
        }
    }

    .duck {
        width: 50%;

        @include respond-to('md') {
            width: 30%;
        }
    }

    .girl {
        text-align: right;
        img { width: 75%; }

        @include respond-to('md') {
            text-align: left;
            img { width: 30%; }
        }
    }

    .huddle {
        @extend %square;
        width: 30%;
        float: right;

        @include respond-to('md') {
            float: inherit;
            width: 50%;
            left: 10%; 
        }
    }
    
    // .cello {}

    .keys {
        img { width: 75%; }

        @include respond-to('md') {
            text-align: right;
        }
    }
    
    .drum {
        text-align: right;
        img { width: 80% }

        @include respond-to('md') {
            text-align: left;
            img { width: 60% }
        }        
    }

    // .ladder {}

    .tv {
        width: 80%
    }
}