<div class="workshops">

	<div class="header-image">
		<img src="assets/imgs/workshops/2018/tal-w18-25.jpg">
    </div>
    
    <app-tabs branch="workshops"></app-tabs>

    <h2>
        the workshops in 2018
    </h2>

    <p>
        Art Workshops lie at the heart of the TRANSCULTURAL ART LAB. The 2018 edition of TAL had seven fields of artistic exploration on offer: 

        <a routerLink="/workshops/2018" fragment="video-art">Video↓</a>,
        <a routerLink="/workshops/2018" fragment="performance-art">Performance↓</a>,
        <a routerLink="/workshops/2018" fragment="illustration">Illustration↓</a>,
        <a routerLink="/workshops/2018" fragment="contemporary-dance">Contemporary Dance↓</a>,
        <a routerLink="/workshops/2018" fragment="experimental-doc">Experimental Documentary↓</a>,
        <a routerLink="/workshops/2018" fragment="music">Music↓</a>,
        <a routerLink="/workshops/2018" fragment="installation-art">Installation Art↓</a>,

        Each workshop is facilitated by a professional artist. Over the course of two weeks, these workshop groups explore ‘utopia’ through shape, sound and movement. The participants engage with a diversity of languages and gain practical and theoretical knowledge. Workshops are participants’ daily point of departure for TAL’s dynamic and open-ended process.
    </p>

    <section id="video-art">
        <div class="side-text">
            <h2> video art </h2>        
            <p>
                The term ‘video art’ is difficult to define today. It can include a wide range of subject matters: sociological issues of individuals or groups, geopolitical questions about territories, boundaries and identities, as well as more anthropological or ethnological themes. In other words, video art is a hot mess of things.
                This years video art workshop is situated in the intersection of videom, the Internet, and the role that older media currently plays. Discussions of time, space, communication and observation are integral, the main challenge is to find both an individual and collective voice, to collaborate without losing personality. The impressive outcome is a video installation with interacting screens, reflecting on sameness, individuality and differences.
            </p>
        </div>

        <div class="side-images">
            <img class="grass" [openGallery]="[galls.video, 'grass']">
            <img class="quartet" [openGallery]="[galls.video, 'quartet']">
        </div>

        <div class="clear"></div>

        <div class="coffee"><img [openGallery]="[galls.video, 'coffee']"></div>
        <div class="face"><img [openGallery]="[galls.video, 'face']"></div>

    </section>

    <section id="performance-art">
        <div class="side-text">
            <h2> performance art </h2>
            <p>
                We start by looking at everyday objects and their inherent performative qualities. Together, slowly, we explore possible ways to collaborate, to share, to trust and to exchange on a performative, practice-oriented level. We go and look at the sea. Through the heightening of senses, and the work with our breath, we try to find the essence of the motor that makes us work. We realise durational exercises which, in their very nature, are reduced and minimal, and often challenging. This brings to the fore some key questions that we then bring into the group work. 
            </p>
        </div>

        <div class="side-images">
            <img class="net" [openGallery]="[galls.perf, 'net']">
        </div>

        <div class="clear"></div>

        <img class="snow" [openGallery]="[galls.perf, 'snow']">

        <app-slider 
            [gallery]="galls.perf"
            [images]="['forearm', 'eyes', 'keyboard', 'camp', 'ghost']">
        </app-slider>

    </section>

    <section id="illustration">
        <div class="side-text">
            <h2> illustration </h2>
            <p>
                The illustration workshop begins with a drawing session on the beach and ends with the hand-stitching of a comic-fanzine. These two points are not joined by a straight line: the group members are invited to invent then re-invent imaginary publications to try and think more indirectly, they make autobiographical patterns that repeat to infinity, and they experiment with traditional linocut and brand new digital tech. They are squeezed and squeezed until strange ideas emerge.
            </p>
            <p>
                The workshop stumbles upon a song they like, with lyrics that speak to them, and they decide to illustrate it by means of a framing device that allows them to shine individually within a collective publication. It’s about three friends, it’s about Clint Eastwood, it’s about 1001 Nights at a bad party. 
                Three strangers make a magic baby on an island: it all feels pretty close to some kind of utopia.
            </p>
        </div>

        <div class="side-images">
            <img class="gorilla" [openGallery]="[galls.illus, 'gorilla']">
            <div class="cartoon"><img [openGallery]="[galls.illus, 'cartoon']"></div>
        </div>

        <div class="clear"></div>

        <div class="office"><img [openGallery]="[galls.illus, 'office']"></div>
    </section>

    <section id="contemporary-dance">
        <div class="side-text">
            <h2> contemporary dance </h2>
            <p>
                We explore ideas of dance-making from inside performance through improvisation. Drawing on parallels of identity and de-authorship, and form and disrupted form, we explore different anatomical techniques and work to dismantle them. We aim to find organic expressions of our bodies, while yielding to an experience of utopia through trance inside performance. 
                We are inspired by the surroundings: the island, and all that implies, and we become fascinated with the aircraft hangar that sits awkwardly among it. 
            </p>
        </div>

        <div class="side-images">
            <img class="pants" [openGallery]="[galls.dance, 'pants']">
        </div>

        <div class="clear"></div>

        <img class="bow" [openGallery]="[galls.dance, 'bow']">
        <div class="judo"><img [openGallery]="[galls.dance, 'judo']"></div>
        <div class="group"><img [openGallery]="[galls.dance, 'group']"></div><div class="clear"></div>

    </section>

    <section id="experimental-doc">
        <div class="side-text">
            <h2> experimental documentary </h2>

            <div class="quote1">
                <p>
                    The problem is not to make political films, but to make films politically.
                </p>
                <div>- Jean-Luc Godard</div>
            </div>

            <p>
                The process of filmmaking could be one way of reaching utopia, in the way it so directly connects artists, subjects and audiences in novel ways. When creating a film, the journey is just as important as the final work, and so our ideas should be embedded into every step of the process. In the workshop, therefore, we discuss issues surrounding objectivity and truth, the observer’s paradox, and the ethical issues surrounding documentary-making. 
                The participating artists work very hard to shoot and edit films, and from the people they encounter on this tiny island, they manage to 
            </p>
        </div>

        <div class="side-images">
            <div class="sound"><img [openGallery]="[galls.experi, 'sound']"></div>
        </div>

        <div class="clear"></div>

        <img class="duck" [openGallery]="[galls.experi, 'duck']">
        <div class="girl"><img [openGallery]="[galls.experi, 'girl']"></div>
        <div class="huddle"><img [openGallery]="[galls.experi, 'huddle']"></div><div class="clear"></div>
    </section>

    <section id="music">
        <div class="side-text">
            <h2> music </h2>
            <p>
                The participating artists may think of music as sound, they may collectively improvise, they may intertwine their processes with other disciplines: with the visual arts, with dance and performance, among others. We explore and reproduce traditional or popular music from our own backgrounds, and we discuss the politics of culture, how music is invariably political, how music can be used to bring people together but also to divide them. 
            </p>
        </div>

        <div class="side-images">
            <img class="cello" [openGallery]="[galls.music, 'cello']">
        </div>

        <div class="clear"></div>

        <div class="keys"><img [openGallery]="[galls.music, 'keys']"></div>
        <div class="drum"><img [openGallery]="[galls.music, 'drum']"></div>

    </section>

    <section id="installation-art">
        <div class="side-text">
            <h2> installation art </h2>
            <p>
                By exploring how rooms can tell stories and convey emotions, we develop narrative elements that seem relevant and meaningful. Some ideas are responses or reactions to the larger dialogue taking place around Utopia, others are inspired by the unusual island or the coming together of such diverse, open-minded people. Other ideas just seem to appear from thin air.
            </p>
            <p>
                Mini-groups embark on mysterious journeys, resulting in a curious variety of pieces - a Kafkian Lost and Found Bureau that visitors have to enter one by one once their number is called; a minimalist architectural landscape set against a hypnotic dreamscape, accompanied by trance-inducing sound loops; iron ladders installed at the waterfront, framed by large speakers that utter poetic texts into the wind. 
            </p>
        </div>

        <div class="side-images">
            <img class="ladder" [openGallery]="[galls.insta, 'ladder']">
        </div>

        <div class="clear"></div>

        <img class="tv" [openGallery]="[galls.insta, 'tv']">

        <app-slider 
            [gallery]="galls.insta"
            [images]="['bag', 'water', 'view', 'egg']">
        </app-slider>
    </section>

    <app-footer></app-footer>
</div>
