@import 'mixins';

$first-indent: 3rem;
$second-indent: $first-indent * 1.3;

.accordion {

  list-style-type: none;
  padding-inline-start: 0px;
  margin: 0;
  margin-top: -5px; // to offset first menu label

  li {
    overflow: hidden;

    margin-top: 2rem;
    @include respond-to('md') { margin-top: 0; }
  }

  .active {
    font-weight: bold;
  }

  .menu-label {
    padding: 5px 5px 0px 0px;
    line-height: 24px;
    cursor: pointer;

    &:hover {
      color: #b63b4d;
    }
  }

  .submenu {
    padding-left: $first-indent;
  }

  .submenu2 {
    padding-left: $second-indent;
  }

}