
<ul class="accordion">

  <!-- 1 -->
  <li *ngFor="let tree1 of menuTree">
    <div class="menu-label" *ngIf="getItem(tree1) as i1" [class.active]="i1.active" (click)="toggle(i1, [tree1])"> 
      {{ i1.name }} </div>

    <!-- 2 -->
    <div *ngIf="getItem(tree1).active">
      <ul *ngFor="let tree2 of tree1.children" class="submenu">      
        <div class="menu-label" *ngIf="getItem(tree2) as i2" [class.active]="i2.active" (click)="toggle(i2, [tree1, tree2])"> 
          {{ i2.name }} </div>

        <!-- 3 -->
        <div *ngIf="getItem(tree1).active && getItem(tree2).active">
          <li *ngFor="let tree3 of tree2.children" class="submenu submenu2">        
            <div class="menu-label" *ngIf="getItem(tree3) as i3" [class.active]="i3.active" (click)="toggle(i3, [tree1, tree2, tree3])"> 
              {{ i3.name }} </div>
          </li>
        </div>
        
      </ul>
    </div>
  </li>

</ul>
