
$first-indent: 3rem;
$second-indent: $first-indent * 1.3;

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.accordion {

  .menu-label {
    padding: 5px 5px 0px 0px;
    line-height: 24px;
    cursor: pointer;

    &:hover {
      color: #b63b4d;
    }
  }

  .submenu {
    padding-left: $first-indent;
  }

  .submenu2 {
    padding-left: $second-indent;
  }

}