@import 'mixins';

$first-indent: 3rem;
$second-indent: $first-indent * 1.3;

.accordion {

  list-style-type: none;
  padding-inline-start: 0px;
  margin: 0;
  margin-top: -5px; // to offset first menu label

  li {
    overflow: hidden;

    padding: 1rem 1.5rem 1rem 2rem;
    border-bottom: 1px solid #333333;

    @include respond-to('md') {
      border: none;
    }
    
    @include respond-to('lg') { 
      margin-top: 0; 
      border: none;
      padding: 5px 0px;
    }
  }

  .active {
    font-weight: bold;
  }

  .menu-label {
    padding: 5px 5px 0px 0px;
    line-height: 24px;
    cursor: pointer;

    @include respond-to('md') {
      // font-size: 1.6rem;
    }

    &:hover {
      color: #b63b4d;
    }
  }

  .submenu {
    padding-left: $first-indent;

    div {
      padding: 1rem 0.5rem;
    }
  }

  .submenu2 {
    padding-left: $second-indent;
  }

}