.footer {
    margin-top: 10rem;
    margin-bottom: 6rem;
    text-align: center;

    letter-spacing: 0.2rem;   
    font-size: 1.3rem;
            
    a {
        font-weight: normal;
        color: #333;
    }

    .page-up {
        width: 40px;
        height: 40px;
        margin: 0 auto;
        cursor: pointer;
    }

    hr {
        margin: 1rem 0 0 0;
        background: #e8e8e8;
        height: 1px;
        padding: 0;
        border: 0;
    }

    .footer-text {
        padding: 1rem 0rem 0rem 0rem;
    }

    .facebook-text {
        text-align: center;
        font-size: 1.3rem;
        margin: 2rem 0;

        img {
            width: 1.8rem;
            height: 1.8rem;
            vertical-align: top;
            margin-bottom: 0;
            margin-right: 0.4rem;
            filter: hue-rotate(45deg);
        }
    }

    .footer-logo {
        display: block;
        margin: 2rem auto;
        width: 9rem;
    }
}