.footer {
    margin-top: 10rem;
    margin-bottom: 6rem;
            
    a {
        font-weight: normal;
        color: #333;
    }

    .page-up {
        width: 40px;
        height: 40px;
        margin: 0 auto;
        cursor: pointer;
    }

    .footer-text {
        padding: 1rem 0rem 0rem 0rem;
        text-align: center;
        letter-spacing: 0.2rem;   
        font-size: 1rem;

        div {
            margin-bottom: 8px;
        }

        .facebook-text {
            img {
                width: 1rem;
                height: 1rem;
                vertical-align: top;
                margin-top: 3px;
                margin-right: 0.4rem;
            }
        }
    }
}