
<div class="footer">

    <div class="clear"></div>

    <div class="page-up" (click)="scrollTop()">
        <img src="assets/icons/ico-up.svg">
    </div>

    <hr>
    <div class="footer-text">
    © transcultural art lab 2018   //   contact: <a href="mailto:designyourutopia@jubi-juist.de">designyourutopia@jubi-juist.de</a>
    </div>
    <div class="facebook-text">
    <a href="https://www.facebook.com/transculturalartlab/">
    <img src="assets/logos/facebookLogo.png">&nbsp;Follow us on Facebook
    </a>
    </div>
    <div class= "footer-logo">
    <img src="assets/logos/stencilLogo.gif">
    </div>

</div>