@import 'layout';

$tab-width: 10rem;
$tab-height: 5rem;
$tab-offest: 9rem;
$tab-font-size: 1.2rem;

:host {
    display: block;
    margin-bottom: 4rem;
    height: 40px;

    @include respond-to('md') {
        display: none;
    }
}

.tab {    
    position: absolute;
    display: inline-block;    
    width: $tab-width;
    height: calc( #{$tab-height} - 1rem);

    background-image: url(/assets/icons/tab.svg);
    background-size: $tab-width $tab-height;
    cursor: pointer;

    .name {
        font-size: $tab-font-size;
        box-sizing: border-box;
        padding: 1em 0 0 2rem;        
    }

    &.active-link {
        font-weight: bold;
        cursor: default;
    }
}

.tab-0 {
    z-index: $z-index-tabs-base + 2;
}

.tab-1 {
    left: 100px;
    z-index: $z-index-tabs-base + 1;
}

.tab-2 {
    left: 185px;
    z-index: $z-index-tabs-base;
}