/* You can add global styles to this file, and also import other style files */

@import 'stylesheets/utilities';
@import 'stylesheets/base';
@import 'stylesheets/fonts';

@import 'photoswipe/dist/photoswipe.css';
@import 'photoswipe/dist/default-skin/default-skin.css';
@import 'flickity/dist/flickity.min.css';


.flkty-slide {
    width: 30%;
    height: 85px;
    margin-right: 10px;
    border-radius: 5px;

    img {
        height: 100%;
        object-fit: cover;
        border-radius: 2px;
    }
}

@include respond-to('lg') {
    .flkty-slide {
        width: 20%;
        height: 100px;
    } 
}

@include respond-to('lg') {
    .flkty-slide {
        height: 150px;
    } 
}