<div class="documentary">

	<div class="header-image">
		<img [openGallery]="[galls.head, 1]">
	</div>

	<h1>
		the network
	</h1>

	<p>
		The TRANSCULTURAL ART LAB strengthens cultural professionals from the South Caucasus in their role as multipliers against ongoing territorial conflicts. 
		From 2016 to 2019 the project has brought a total of 213 creatives from 6 countries together during the annual two-week encounters to the island of Juist, North Sea, and was continued regionally and intraregionally in subsequent collaborations. TAL’s mission is to enhance artistic investigation upon a common future despite repressive border policies on long term basis. 
	</p>
	
	<h1> Follow Up - Networking Meeting </h1>
	
	<h1> Goethe Institute Tbilisi, Georgia </h1>

	<p>
		In order to deepen the TAL network of caucasian and German cultural operators, official follow-up meetings are held each year at the Goethe Institute Tbilisi, Georgia.
	</p>

	<p>
		These Networking Meetings crucially aim to discuss and plant seeds for potential future collaborations across borders. Through open discussions and brainstorming sessions, the participants are invited to consider the wider effects of TAL. They reflect on the knowledge and life experience they acquired on the island, and how this can be applied to their own careers and beyond. To date, three Networking Meetings have been held. The most recent, in March 2019, was attended by people from all participating countries, and from each edition of TAL. 
	</p>

	<img [openGallery]="[galls.network, 1]">

	<img [openGallery]="[galls.network, 2]">

	<img class="w70" [openGallery]="[galls.network, 3]">

	<app-footer></app-footer>
</div>
