<div class="documentary">
	<h1>
		transcultural art lab - the documentary
	</h1>
	<h2>
		an address to utopia by artists from Armenia, Azerbaijan, Georgia, Germany, and beyond
	</h2>
    <div class="vimeo-video" #vimeo></div>
    
	<div>
		<h2>project description</h2>
		<p>
			The Transcultural Art Lab has been shaped by socially-engaged artistic practices and thus by the lives, works, and stories of the many young artists who generously partook. As such, the TAL is hard to capture in words and pictures alone. One needs to see it in operation. To capture the spirit of the project, we invited a documentary filmmaker to come to TAL and engage with participants as a part of the project to create a documentary film.
		</p>
	</div>
	
	<app-footer></app-footer>
</div>
