<div class="documentary">
	<h1>
		documentary
	</h1>

	<p>
		TAL has been shaped by socially-engaged artistic practices and by the lives, works and stories of the many artists who have taken part in it. As such, TAL is hard to capture in words and pictures alone. One needs to see it in operation. To capture the spirit of the project, we invited a documentary film team to visit TAL in 2017 and 2018, to engage with participants and piece together a short film about the project. 
	</p>

	<p>
		We aspire to depict the experiment of boundaries, this poetic dance between seeking perfection and human failure - not as a surprise but as an anticipated necessity - all as powerful as the waves on those northern shores.
	</p>
	
	<h1> TRANSCULTURAL VIDEO & PERFORMANCE LAB 2018 </h1>

    <iframe src="https://player.vimeo.com/video/262172747" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
	
	<h1> TRANSCULTURAL ART LAB 2017 </h1>
	
	<iframe src="https://player.vimeo.com/video/262172747" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

	<app-footer></app-footer>
</div>
