
<div class="show">

    <div class="header-image">
        <img [openGallery]="[galls.head, 1]">
    </div>

	<app-tabs branch="show"></app-tabs>

    <h1>the show in 2018</h1>
    <p>
        The seven workshops culminate in the final exhibition, with work on display all over the site: on the beach, in the hangar, in the airport tower, in studios and corridors. This exhibition is the climax, a day for seeing how creative minds, across many kinds of borders, can thrive when given the opportunity. 
    </p>
    <p>
        The 2018 exhibition on the island of Juist was followed by a series of public screenings in 
        <a routerLink="/show/2018" fragment="yerevan">Yerevan ↓</a>,
        <a routerLink="/show/2018" fragment="baku">Baku ↓</a>,
        <a routerLink="/show/2018" fragment="tbilisi">Tbilisi ↓</a>
        in early 2019.
    </p>

    <section id="juist">
    <h1>JUIST, NORTH SEA <br> 29 October 2018, Jubi Theodor Wupperman e.V.</h1>

    <div class="marB6"></div>
    <p>
        The collaborative essence of TAL is demostrated through a joint multimedia artwork created between the Performance, Dance and Installation groups. Three large scale pieces are combined to make a work that is greater than the sum of its parts.This unique event took place in the aiport hangar.
    </p>
    <div class="marB4"></div>

    <img [openGallery]="[galls.juist, 1]">
    <img class="w70" [openGallery]="[galls.juist, 2]">
    <img class="w70" [openGallery]="[galls.juist, 3]">

    <div class="marB10"></div>

    <img [openGallery]="[galls.juist, 4]">
    <img class="w40" [openGallery]="[galls.juist, 5]">

    <div class="marB4"></div>

    <div class="w66 floatL offToLeft">
        <div class="marB10"></div>
        <img class="w50 floatL" [openGallery]="[galls.juist, 6]">
        <img class="w50 floatL" [openGallery]="[galls.juist, 7]">
    </div>    
    <img class="w30 floatR" [openGallery]="[galls.juist, 8]">

    <div class="w60 padR1 floatR">
        <img [openGallery]="[galls.juist, 9]">
    </div>

    <div class="clear"></div>
    <div class="marB10"></div>

    <img class="w70" [openGallery]="[galls.juist, 10]">
    <img class="w70" [openGallery]="[galls.juist, 11]">

    <app-slider 
        [gallery]="galls.juist"
        [keys]="[12, 13, 14, 15, 16]">
    </app-slider>

    <div class="marB10"></div>

	</section>

    <h1> international screenings </h1>
    
    <section id="tbilisi">
    <h1> tbilisi, 3rd March 2019, Politika </h1>

    <p>
    The first screening takes place in Politika by Bauhaus, a swanky underground bar in the capital of Georgia. After the premiere of the documentary (Link einfügen), the latest TAL video works are screened, and inspire fresh ideas, debates and collaborations between artists of all TAL generations present, as well as other visitors from a range of different backgrounds.
    </p>

    <img [openGallery]="[galls.tbilisi, 1]">

    <div class="flex">
        <div class="disco"><img [openGallery]="[galls.tbilisi, 2]"></div>
        <div class="yellow"><img [openGallery]="[galls.tbilisi, 3]"></div> 
    </div>

    </section>

    <section id="yerevan">
    <h1> yerevan, 2nd May 2019, ACCEA </h1>

    <p>
        The Yerevan screening takes place at the Armenian Center for Contemporary Experimental Art (ACCEA), the main contemporary art space in the Armenian capital. The objectives of this active NGO are the encouragement and facilitation of uninhibited expression, mainly of contemporary Armenian artists. TAL has already collaborated once with ACCEA, when presenting the travelling exhibition Take Me Somewhere Nice in 2017. We share their interest in discovering and supporting emerging artists and cultural figures, as people who can play important roles in shaping societies.
    </p>

    <div class="collage">
        <div><img [openGallery]="[galls.yerevan, 1]"></div>
        <div class="vert-box">
            <div class="face"><img [openGallery]="[galls.yerevan, 2]"></div>
            <div class="window"><img [openGallery]="[galls.yerevan, 3]"></div>
        </div>
    </div>
    <div class="marB4"></div>

    </section>
    
	<section id="baku">
    <h1> baku, 14 June 2019, Salaam Cinema </h1>

    <p>
        The 2019 screening in Baku takes place in Salaam Cinema, an emblematic venue for arts, founded by a group of independent filmmakers, editors and art activists, some of whom are former TAL participants. In their historical building, initially built in 1913 as a Molokan prayer house, Salaam Cinema forms a community-driven independent cinema since January 2019. Its aim is to showcase non-commercial, locally-made and historical films and art in Azerbaijan’s capital. Salaam Cinema also offers a wide range of talks, exhibitions and educational workshops dedicated to equality, inclusion and celebrating diversity.
    </p>

    <img [openGallery]="[galls.baku, 1]">

    <div class="flex">
        <div class="schneider"><img class="w48 floatL" [openGallery]="[galls.baku, 2]"></div>
        <div class="backlight"><img class="w48 floatL" [openGallery]="[galls.baku, 3]"></div> 
    </div>

	</section>

    <div class="marB10"></div>
    
    <app-footer></app-footer>
</div>
