@import 'layout';
@import 'placeholders';

.island {
    @extend %page;

    .flex {
        display: flex;
    }

    // IMAGES
    img { position: relative; }

    // scene {}
    
    .bench {
        @extend %perfect-square;
        width: 40%;
        margin-right: 2rem;

        @include respond-to('md') {
            &:after { padding-bottom: 80%; }
        }
    }

    .beach {
        @extend %perfect-square;
        width: 40%;

        @include respond-to('md') {
            &:after { padding-bottom: 80%; }
        }
    }

    .scratch { 
        app-sc-widget { width: 85%; }
        display: flex;
        flex-direction: row-reverse;
    }

    // net {}
    // notes {}
    
    .recline {
        img { width: 50%; }
        text-align: right;
    }

    // tree {}
    .ok {
        display: none;
    }
    
    .stripes {
        display: none;
    }

    // yea {}
    
    .circle {
        display: none;
    }

    .archer {
        img { width: 33%; }
        text-align: right;
    }
    
    .beached {
        img { width: 70%; }
        text-align: left;
    }
}