
<div class="island">

	<div class="header-image">
		<img [openGallery]="[galls.head, 1]">
	</div>

	<h1>the island</h1>
	<p>
		The TRANSCULTURAL ART LAB takes place on an island, the Island of Juist. A narrow stretch of sand, the island lies at the southeastern edge of the north sea just off the coast of the mainland. Despite being only 17 kilometres in length and at its widest 900 meters in width, people have been living on the islet since the 14th century, exposing themselves to the natural forces of the tides and the weather with greater intimacy and immediacy than elsewhere.
	</p>

	<section id="surroundings">

		<h2>surroundings</h2>
		<p>
			The island, as a motif, has long occupied a central role in the history of utopian philosophy, art and literature. Successive generations of restless minds have been drawn to their constrained natural wonder, these distant spaces allow for humble reflection or bold reinvention, where isolation and freedom melt into one. Such a space is the island of Juist. Its remoteness is itself an invitation to engage differently with oneself and the ‘world out there’, and it provides a space where boundaries can be transgressed.
		</p>
	
		<div class="scene"><img [openGallery]="[galls.surroundings, 1]"></div>
		<div class="flex">
			<div class="bench"><img [openGallery]="[galls.surroundings, 2]"></div>
			<div class="beach"><img [openGallery]="[galls.surroundings, 3]"></div>
		</div>

		<div class="scratch">
			<app-sc-widget
				title="first impressions"
				imageSrc="assets/imgs/island/scratch1.jpg"
				trackId="297131257">        
			</app-sc-widget>
		</div>
		
		<p class="quote">
			“The island is kind of magical, because in every spot you find new ideas and you see the world from a different angle. And this somehow helps you to understand yourself, to analyse yourself and then find ideas that you can share with other people.”
		</p>
		<p class="quote-author">
			TAL participant 2017
		</p>

		<div class="net"><img [openGallery]="[galls.surroundings, 4]"></div>

	</section>

	<section id="organization">

		<h2>self-organisation</h2>
		<p>
			The daily reality of TAL is malleable. At the heart of this is the plenum meeting, where each evening anybody can put forward their ideas, issues or suggestions. Decisions are taken by consensus, and this places responsibility into the hands of the participating artists: TAL is theirs, a process-oriented experiment.
		</p>

		<div class="notes"><img [openGallery]="[galls.organization, 1]"></div>
		<div class="recline"><img [openGallery]="[galls.organization, 2]"></div>
	</section>

	<section id="community">

		<h2>community</h2>
		<p>
			The community principle is essential to TAL. Finding oneself transported onto a windswept island, far from everyone and everything familiar, brings strangers together quickly. Regardless of one‘s background, nationality, gender, race, religion, social status or sexual orientation, TAL seeks to provide a safe space to reveal one‘s character as the new collective takes shape. When the time comes to say goodbye, it is usually bittersweet - caught between the sorrow of parting and the euphoria of the shared experience. 
		</p>

		<div class="tree"><img [openGallery]="[galls.community, 1]"></div>
		<div class="ok"><img [openGallery]="[galls.community, 2]"></div>
		<div class="yeah"><img [openGallery]="[galls.community, 3]"></div>

	</section>

	<section id="activities">

		<h2>activities</h2>
		<p>
			Archery, climbing, sea kayaking, yoga, island hikes, and other activities are woven into daily life at TAL. Through activities, our residents explore the balance and stability of their own bodies and their physical and mental potential. Activities are fundamental to the larger adventure of the project. They are also a lot of fun. Less-structured explorations of Utopia reflect the spirit of the whole project, the yet unknown island freedom which leads to unusual workshops, spontaneous gatherings, midnight conversations on the beach, DJ sets, improvised film screenings, waffle-making around the fire, hiking, biking, jam sessions, costume parties, debates, dancing, poetry, ping pong, comedy workshops, life drawing...to name a few.. 
		</p>

		<div class="circle"><img [openGallery]="[galls.activities, 1]"></div>
		<div class="archer"><img [openGallery]="[galls.activities, 2]"></div>
		<div class="beached"><img [openGallery]="[galls.activities, 3]"></div>

	</section>
                
	<app-footer></app-footer>
        
</div>
