
<div class="island">

    <img src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-14.jpg">

	<div>
		<h1>the island</h1>
		<p>
			The TRANSCULTURAL ART LAB takes place on an island, the Island of Juist. A narrow stretch of sand, the island lies at the southeastern edge of the north sea just off the coast of the mainland. Despite being only 17 kilometres in length and at its widest 900 meters in width, people have been living on the islet since the 14th century, exposing themselves to the natural forces of the tides and the weather with greater intimacy and immediacy than elsewhere.
		</p>
	</div>
	<div>
		<h2>surroundings</h2>
		<p>
			The island’s remoteness is itself an invitation to engage differently with oneself and the ‘world out there.’ In the history of utopian thought, the island occupies a central place. It provides a space not only for reflection but is also where boundaries can be transgressed. Such a space is the island of Juist.
		</p>
		<p class="quote">
			“The island is kind of magical, because in every spot you find new ideas and you see the world from a different angle. And this somehow helps you to understand yourself, to analyse yourself and then find ideas that you can share with other people.”
		</p>
		<p class="quote-author">
			TAL participant 2017
		</p>
    </div>
    
	<app-sc-widget
		class="marB10"
        imageSrc="assets/imgs/island/scratch1.jpg"
        trackId="297131257">        
    </app-sc-widget>

	<div>
		<img class="w50 floatR" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-16.jpg">
		<img src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-01.jpg">
		<img class="w90" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-15.jpg">
		<img class="w50 floatR padB6" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-02.jpg">
		<img class="padB6" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-13.jpg">
	</div>
	<section id="activities">
		<div>
			<h2>activities</h2>
			<p>
				Archery, climbing, kayak surfing, yoga, outdoor explorations, and other enrichment activities are woven into daily life at TAL. Through activities, our participants explore the balance and stability of their own bodies and their physical and mental potential. Activities are fundamental to the larger adventure of the project. They are also a lot of fun.
			</p>
		</div>
		<div>
			<img class="w60" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-23.jpg">
			<img class="" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-07.jpg">
			<img class="w70 floatR" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-08.jpg">
			<img class="w50 floatR"  src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-12.jpg">
			<img class="" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-21.jpg">
			<img class="w60" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-06.jpg">
			<img class="w60 padB6" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-11.jpg">
			<img class="" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-09.jpg">
			<img class="" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-22.jpg">
			<img class="w40 padB6" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-20.jpg">
		</div>
	</section>
	<section id="organization">
		<div>
			<h2>self-organization</h2>
			<p>
				The diversity of the TAL community sparks spontaneous gatherings and debates. A daily plenum after dinner is also a space for project-relevant exchanges. Anyone can put forward a topic or question, and decisions are taken by consensus. After each assembly, evenings run their natural course: a house bar, a costume party, jam sessions and other events arise and lead to less structured explorations of Utopia.
			</p>
		</div>
		<div>
			<img class="" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-03.jpg">
			<img class="" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-05.jpg">
			<img class="w80 floatR" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-18.jpg">
			<img class="w80 floatR" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-04.jpg">
			<img class="w45 floatL" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-25.jpg">
			<img class="w55 padL-10 floatL" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-24.jpg">
			<img class="w80" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-17.jpg">
			<img class="w45 floatR padB6" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-19.jpg">
			<div class="clear"></div>
		</div>
	</section>
	<section id="community">
		<div>
			<h2>community</h2>
			<p>
				Waking up on the first day at the TAL feels extraordinary. Participants find themselves suddenly transported into a diverse community on a lonesome, windswept island. The initially timid approach of human beings from nations that are enemies soon transforms into a joyful daily process of discovery. Regardless of one's cultural background, nationality, gender, religion, social status or sexual orientation, everybody finds space to reveal their individuality and character within the dynamic team. When it’s time to say goodbye,  we float between sorrow of parting and the euphoria of the experience.
			</p>
		</div>
		<img class="padB6" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-10.jpg">
	</section>
	<section id="follow-up">
		<div>
			<h2>Follow Up</h2>
			<p>
				In order to deepen these new relationships between young artists from the Caucasus and Germany, a Networking Meeting was held at the <b>Goethe Institute Tbilisi</b>, Georgia, on the 16th December 2017. This event was attended by participants , from across the region, both from the 2017, as well as from the 2016 T.A.L. edition, to further broaden the blossoming network and give a point of reference for how the Art Lab continues to evolve.
			</p>
			<p>
				The Networking Meeting gave the participants the chance to reflect on their experiences at the Art Lab. Also, and crucially, the participants discussed potential future collaborations across borders, and how the knowledge and life experience they acquired at the Art Lab could be applied in their own careers and beyond.
			</p>
		</div>
		<div>
			<img class="" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-26.jpg">
			<img class="w40" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-27.jpg">
			<div class="clar"></div>
			<img class="w60 floatR padB6" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-30.jpg">
			<img class="" src="assets/imgs/island/transcultural-art-lab-juist-design-your-utopia-island-32.jpg">
		</div>
                
	    <app-footer></app-footer>
    </section>
        
</div>
