@import 'layout';

.background {
    position: absolute;
    z-index: $z-index-cover;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;

    background-size: cover;
}

.logo-box {
    position: absolute;
    z-index: $z-index-cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    width: 100%;
    margin: auto;

    div {
        font-family: 'Amatic SC', Helvetica, sans-serif;
        color: white;
        font-weight: 400;
        font-size: 3.4rem;
        letter-spacing: 0.3em;
        text-align: center;

        &.section-name {
         font-size: 2.8rem;  
         height: 3.4rem; 
        }
    }
}